<!-- <div id="main-content" *ngIf="formProducto">
  <section class="kopa-area kopa-area-5 kopa-area-parallax white-text-style">
    <div class="container">
      <div class="kopa-breadcrumb text-center">
        <h2>Publicá tu artículo </h2>
      </div>
    </div>
  </section> -->
<div *ngIf='formProducto'>

    <section class="kopa-area kopa-area-3 white-text-style" style="padding-top:12em;">
        <div class="container">
            <!-- <div class="item-content"> -->
            <!-- <header> -->
            <!-- <div class="item-title"> -->
            <header class="widget-header text-center" style="margin-bottom: 20px;">
                <h1 class="widget-title">Publicá tu artículo</h1>
            </header>
            <div class="row">
                <div class="col-md-4">
                    <h1 class="widget-title col-md-2">
                        <i class="fa fa-map-marker"></i>
                    </h1>
                    <span class="col-md-10">SEGURIDAD Y CONFIANZA
                        <br/> Si se rompe algo o si hay algún imprevisto, a través de nuestro sistema de resolución puedes reclamar
                        hasta el 100% del valor de depósito de seguridad.</span>
                </div>
                <div class="col-md-4">
                    <h1 class="widget-title col-md-2">
                        <i class="fa fa-shield"></i>
                    </h1>
                    <span class="col-md-10">PRIVACIDAD
                        <br/>El lugar de entrega que eliges solo se comunica al usuario que reserva tu artículo.</span>
                </div>
                <div class="col-md-4">
                    <h1 class="widget-title col-md-2">
                        <i class="fa fa-lock"></i>
                    </h1>
                    <span class="col-md-10">CONTROL DE DEVOLUCIÓN
                        <br/>Un código de seguridad permite formalizar la devolución de tu equipo.</span>
                </div>
            </div>
            <!-- </header> -->
            <!-- </div> -->
            <!-- </div> -->
        </div>
    </section>

    <section class="kopa-area kopa-area-4">

        <div class="container">
            <div class="kopalisting-main-content">

                <div class="kopalisting-item" *ngIf="!_saved">

                    <div class="item-write-rv-form">

                        <h6>Datos de tu propiedad</h6>

                        <form class="reiview-form" [formGroup]="formProducto">
                            <div class="row">

                                <div class="col-8">

                                    <p class="input-block">
                                        <label>Título</label>
                                        <input type="text" formControlName="Titulo" placeholder="Por favor ingrese un título" name="title" class="valid">
                                    </p>

                                </div>

                                <div class="col-4">
                                    <span style="position:absolute; bottom:8px; left:25px;">$</span>
                                    <p class="input-block">
                                        <label>Precio</label>
                                        <input type="text" formControlName="Precio" placeholder="Por favor ingrese un precio" name="precio" class="valid" style="padding-left: 30px;">
                                    </p>

                                </div>

                            </div>

                            <p class="textarea-block">
                                <label>Descripción</label>
                                <textarea name="message" formControlName="Descripcion" placeholder="Ingrese la descripción" cols="88" rows="7"></textarea>
                            </p>


                            <div class="row">

                                <div class="col-6">

                                    <p class="input-block">
                                        <label>Email Contacto</label>
                                        <input type="text" formControlName="EmailContacto" placeholder="Por favor ingrese un email de contacto" name="email" class="valid">
                                    </p>

                                </div>

                                <div class="col-6">
                                    <div class="kopa-input-file">
                                        <div class="kopa-select">
                                            <label>Categoría</label>

                                            <select formControlName="Categoria">
                                                <option *ngFor="let c of _categorias" [ngValue]="c.id">{{c.nombre}}</option>
                                            </select>
                                            <!-- <select>
                                                                                <option>October 2016</option>
                                                                                <option>November 2016</option>
                                                                                <option>December 2016</option>
                                                                                <option>January 2017</option>
                                                                                <option>February 2017</option>
                                                                                <option>March 2017</option>
                                                                                <option>Arpil 2017</option>
                                                                                <option>May 2017</option>
                                                                                <option>June 2017</option>
                                                                                <option>July 2017</option>
                                                                                <option>August 2017</option>
                                                                                <option>September 2017</option>
                                                                            </select> -->
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <p class="input-block" style="position:relative">
                                <label>Ubicación</label>
                                <select formControlName="Ubicacion">
                                    <option *ngFor="let u of _ciudades" [ngValue]="u.id">{{u.nombre}}</option>
                                </select>
                                <!--<input type="text" formControlName="Ubicacion" placeholder="Seleccione una ubicación" name="title" class="valid">
                                <i class="fa fa-map-marker" style="font-size:20px;position: absolute; bottom: 8px; right: 10px;"></i>-->
                            </p>

                            <div class="row">
                                <div class="tab-panel">
                                    <!-- <div id="item-tab-map" class="item-tab-map" data-place="New York" data-latitude="40.6700" data-longitude="-73.9400" data-height="550"></div> -->
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-2">

                                    <div class="kopa-select">
                                        <label>Pausado</label>
                                        <select formControlName="Pausado">
                                            <option [ngValue]='true'>Si</option>
                                            <option [ngValue]='false'>No</option>
                                        </select>
                                    </div>
                                    <!-- kopa-select -->

                                </div>

                                <div class="col-10">

                                    <div class="kopa-input-file">
                                        <label>do you have photos to share? (optional)</label>
                                        <div class="input-file" style="position:relative;">
                                            <input style="cursor: pointer; width: 74px; height: 100%; left:calc(100% - 74px); z-index: 1; display:block; opacity:0" type="file"
                                                (change)='onAddImage($event)' name="file" data-multiple-caption="{count} files selected"
                                                multiple="" [disabled]='_images.length > 2'>

                                            <label>
                                                <span style='display:flex; flex-direction:row; overflow:hidden;cursor: default;'>
                                                    <div (click)='onRemoveImage(i)' *ngFor='let i of _images' style="background-color:rgb(134, 220, 164); color: white; border-radius: 2px; margin:2px; padding:0 4px 0 4px;text-align:center">
                                                        {{i.name}}
                                                        <i class="fa fa-times"></i>

                                                    </div>
                                                </span>
                                                <strong style="cursor: pointer; pointer-events: none;">browse</strong>
                                            </label>
                                        </div>
                                    </div>
                                    <!-- kopa-input-file -->

                                </div>

                            </div>
                            <!-- row -->

                            <span class="col-md-12" *ngFor="let e of generateArray(formErrors)">{{e}}</span>

                            <p class="input-block btn-block clearfix">
                                <button (click)='onSave()'>
                                    Guardar
                                </button>
                            </p>

                        </form>
                    </div>
                </div>
                <!-- kopalisting-item -->
                <div class="kopalisting-item" style="align-items: center;display: flex;justify-content: center;flex-direction: column;" *ngIf="_saved">
                    <p style="font-size: 1.4em;">Tu artículo se ha guardado con éxito</p>
                    <button (click)="goToProduct() ">Ver </button>
                </div>
            </div>
            <!-- kopalisting-main-content -->
        </div>
        <!-- container -->

    </section>
    <!-- kopa-area-4 -->

</div>