<div class="main-container" [class.scale-down]="_sharedService.MENU_ACTIVE">

  <header class="kopa-page-header-1">
    <!-- LOGO -->
    <div class="kopa-logo" style=" background: rgba(255, 255, 255, 0.07);
      border-radius: 1000px;">
      <a href="" [routerLink]="['/']">
        <img src="assets/images/header/logo.png" alt="">
      </a>
    </div>
    <!-- kopa-logo -->

    <!-- HEADER ON TOP -->
    <div class="kopa-header-top">

      <div class="container">

        <div class="col-left">

          <ul class="kopa-ul-1">
            <li>
              <span>
                <i class="fa fa-map-marker"></i>Thames 1876, Buenos Aires, Argentina.</span>
            </li>
          </ul>

        </div>

        <div class="col-right">

          <div class="kopa-login">
            <a *ngIf="!_auth.isAuthenticated()" (click)="_auth.login()" style="cursor:pointer">
              <i class="fa fa-user"></i>Login</a>
            <a *ngIf="_auth.isAuthenticated()" (click)="showMenu = !showMenu;" style="position:relative; cursor:pointer; z-index: 10;">
              <i class="fa fa-user"></i>{{_auth.showProfile().name}}
              <div *ngIf="showMenu" style="position:absolute; " id="dropdown">
                <ul>
                  <li [routerLink]="['/perfil']">Perfil</li>
                  <li (click)="_auth.logout()">Salir</li>
                </ul>
              </div>
            </a>
            <a *ngIf="_auth.isAuthenticated()" [routerLink]="['admin-producto']">
              <i class="fa fa-plus-circle"></i>Publicar</a>

          </div>

          <div class="kopa-social-links style-01">
            <ul class="clearfix">
              <li>
                <a href="https://www.facebook.com/Wippin-1704211809900132/" class="fa fa-facebook"></a>
              </li>
              <li>
                <a href="https://www.instagram.com/wippin.ok/" class="fa fa-instagram"></a>
              </li>
            </ul>
          </div>

        </div>

      </div>
      <!-- container -->

    </div>
    <!-- kopa-header-top -->

    <div class="kopa-header-bottom">

      <div class="container">

        <div class="hamburger-menu" (click)="_sharedService.MENU_ACTIVE=!_sharedService.MENU_ACTIVE">
          <i class="ti-menu"></i>
        </div>

        <div class="kopa-search" (click)="onSearchButtonClick()">
          <i class="fa fa-search"></i>
        </div>

      </div>
      <!-- container -->

    </div>
    <!-- kopa-header-bottom -->

  </header>
</div>



<section class="slide-area" [class.active]="_sharedService.MENU_ACTIVE">

  <div class="slide-container mCSB_container" style="min-height:100vh;">

    <div class="close-btn" (click)="_sharedService.MENU_ACTIVE=false;">
      <i class="fa fa-close fa-2x" aria-hidden="true"></i>
    </div>

    <div class="kopa-search-box">
      <form action="#" class="search-form" method="get">
        <button type="submit" class="search-submit">
          <span class="fa fa-search"></span>
        </button>
        <input type="text" name="s" class="search-text" [(ngModel)]='_searchText'>
      </form>
      <span class="search-label">Buscar</span>
    </div>
    <!-- kopa-search-box


    <!-- slide-area -->
    <nav class="slide-nav">
      <ul class="slide-menu">

        <li routerLinkActive="current-menu-item" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/']">Home</a>
        </li>
        <li routerLinkActive="current-menu-item">
          <a [routerLink]="['/admin-producto']">Publicar</a>
        </li>
        <li>
          <a style="cursor: pointer;" (click)="onSearchButtonClick()">Encontrá lo que buscás</a>
        </li>
      </ul>
    </nav>
    <!-- slide-nav -->

    <nav class="slide-mobile-nav">
      <ul class="slide-mobile-menu">
        <ul class="slide-menu">
          <li routerLinkActive="current-menu-item" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['']">Home</a>
          </li>
          <li routerLinkActive="current-menu-item">
            <a [routerLink]="['/admin-producto']">Publicar</a>
          </li>
          <li *ngIf="!_auth.isAuthenticated()">
            <a (click)="_auth.login()">Iniciar Sesión</a>
          </li>
          <li *ngIf="_auth.isAuthenticated()">
            <a (click)="_auth.logout();_sharedService.MENU_ACTIVE=false;">Salir</a>
          </li>
        </ul>
      </ul>
    </nav>
    <!-- slide-mobile-nav -->

    <div class="widget kopa-widget-newsletter">
      <h3 class="widget-title style-02">
        <span>Contactanos</span>
      </h3>
      <div class="widget-content">

        <p>Please Contact Us if you have any offer or want to get a job in our great team of News Experts.</p>

        <div class="kopa-form-box">
          <div class="comment-respond">

            <form class="kopa-form-1" action="processForm.php" method="post" novalidate="novalidate">

              <p class="input-block">
                <i class="fa fa-user"></i>
                <input type="text" value="Your Name" onfocus="if(this.value=='Name')this.value='';" onblur="if(this.value=='')this.value='Name';"
                  name="name" class="valid">
              </p>
              <p class="input-block">
                <i class="fa fa-envelope"></i>
                <input type="text" value="Email" onfocus="if(this.value=='Email')this.value='';" onblur="if(this.value=='')this.value='Email';"
                  name="email" class="valid">
              </p>

              <p class="textarea-block">
                <i class="fa fa-pencil"></i>
                <textarea name="message" placeholder="Message" cols="88" rows="6"></textarea>
              </p>

              <p class="input-block btn-block clearfix text-center">
                <input type="submit" value="Send A message" class="ct-submit-1">
              </p>

            </form>

          </div>
        </div>
        <!-- form-box -->

      </div>
    </div>
    <!-- widget -->

  </div>

</section>

<!-- SEARCH EN NAV MENU -->
<section class="search-area">

  <div class="close-btn">
    <i class="fa fa-close"></i>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-md-8 col-sm-10 col-xs-12 col-md-push-2 col-sm-push-1">

        <form action="#" class="search-form-area" method="get">
          <input type="text" name="s" class="search-text" placeholder="Search here..." [(ngModel)]='_searchText'>
          <button type="submit" class="search-submit" (click)='onSearchButtonClick()'>
            <span class="fa fa-search"></span>
          </button>
        </form>

      </div>
      <!-- col-md-8 -->

    </div>
    <!-- row -->

  </div>
  <!-- container -->

</section>
<!-- search-area -->
<div class="body-overlay" [class.active]="_sharedService.MENU_ACTIVE" (click)="_sharedService.MENU_ACTIVE=false;"></div>