#dropdown ul{
	text-align: left;
	/* display: inline; */
    margin: 0;
    width: 100%;
    padding: 0;
	list-style: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background-color: white;
}

/* style for the individual menu items */
#dropdown ul li{
	font: 12px/18px;
	font-weight: bold;
	display: inline-block;
	margin-right: -4px;
	padding: 15px 20px;
	background: #fff;
	transition: all 0.2s;
	cursor: pointer;
    width: 100%;
    color:black;
}

#dropdown ul li:hover{
	background: #555;
	color: #fff;
}