
<!-- <section class="kopa-area kopa-area-3 kopa-area-parallax white-text-style" style="height:160px;">
    <app-topnav></app-topnav>
</section> -->
<section class="kopa-area kopa-area-4">

                <div class="container">

                    <div class="row">
        
                        <div class="col-12 main-col">

                            <div class="kopalisting-main-content">

                                <div class="kopalisting-item-list-header">

                                    <div class="kopa-pull-left">

                                        <form class="kopalisting-ordering" method="get">
                                            <label>Sort by:</label>
                                            <div class="kopa-select">
                                                <!-- <select (change)='onChange($event)' name='_sorting' [(ngModel)]='_sorting'>
                                                    <option [ngValue]="'ID'">Default</option>
                                                    <option [ngValue]="'AZ'">A-Z</option>
                                                    <option [ngValue]="'ZA'">Z-A</option>
                                                </select> -->
                                                <select (change)='onChange($event)' name='_sorting' [(ngModel)]='_sorting'>
                                                    <option *ngFor='let i of _sortings' [value]="i.id">{{i.name}}</option>
                                                    
                                                </select>


                                            </div>

                                            
                                        </form>
                                        <div class="kopalisting-layout-options">
                                            <ul>
                                                <li class="grid-view active">
                                                    <span class="kopa kopa-grid"></span>
                                                </li>
                                                <li class="list-view">
                                                    <span class="kopa kopa-list"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                    
                                    <!-- <div class="kopa-pull-right">

                                        <form class="kopalisting-num-ordering" method="get">
                                            <label>Mostrar:</label>
                                            <div class="kopa-select">
                                                <select name="orderby" class="">
                                                    <option value="12">12</option>
                                                    <option value="18">18</option>
                                                    <option value="24">24</option>
                                                    <option value="50">50</option>
                                                </select>
                                            </div>
                                        </form>
                                        
                                        <nav class="kopalisting-pagination">
                                            <span>Página:</span>
                                            <ul>
                                                <li>
                                                    <a class="prev" href="#">
                                                        <i class="kopa kopa-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><span class="current">2</span></li>
                                                <li><a href="#">3</a></li>
                                                <li>
                                                    <a class="next" href="#">
                                                        <i class="kopa kopa-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                                        
                                    </div> -->

                                </div>
                                <!-- kopalisting-item-list-header -->

                                <div class="kopalisting-items-list">

                                    <ul class="items-list row kopa-mh">

                                        <li class="col-4" *ngFor="let p of _listProductsSub">

                                            <div class="item">
                                                <div class="item-thumb">
                                                    <a href="" [routerLink]="['/producto',p.id]">
                                                        <img [src]="p.imagenes[0].url" alt="">
                                                    </a>
                                                    <div class="item-rating">
                                                        <p>
                                                            <span><strong class="rating">5</strong> out of 5</span>
                                                        </p>
                                                    </div>
                                                    <!-- item-rating -->
                                                    <a href="" [routerLink]="['/producto',p.id]" class="btn btn_add_to_book">book now</a>
                                                    <a href="" [routerLink]="['/producto',p.id]" class="item-detail">details</a>
                                                </div>
                                                <div class="item-content">
                                                    <header>
                                                        <div class="item-title">
                                                            <a href="" [routerLink]="['/producto',p.id]">{{p.titulo}}</a>
                                                        </div>
                                                        <!-- item-title -->
                                                        <div class="clearfix">
                                                            <div class="item-rating">
                                                                <p>
                                                                    <span><strong class="rating">5</strong> out of 5</span>
                                                                </p>
                                                            </div>
                                                            <!-- item-rating -->
                                                            <p class="item-address">
                                                                <i class="kopa kopa-map-1"></i>{{p.ubicacion.ciudad}}
                                                            </p>
                                                            <!-- item-address -->
                                                        </div>  
                                                    </header>
                                                    <!-- header -->
                                                    <div class="item-price-avg">
                                                        <div class="price-wrap">
                                                            <span>
                                                                <ins>
                                                                    <span>$</span>{{p.precio}}
                                                                </ins>
                                                            </span>
                                                        </div>
                                                        <!-- <span>avg/night</span> -->
                                                    </div>
                                                    <!-- item-price-avg -->
                                                    <p>empor invidunt ut labore etdolore magna t clita kasd gubergren, no sea takimata</p>
                                                </div>
                                            </div>
                                            <!-- item -->

                                        </li>
                                        <!-- col-4 -->

                                    </ul>
                                    <!-- items-list -->

                                </div>
                                <!-- kopalisting-items-list -->

                                <div class="kopalisting-item-list-footer">

                                    <div class="kopa-pull-left">
                                        <p class="kopalisting-result-count">
                                            Showing 11–20 of 24 results
                                        </p>
                                    </div>

                                    <!-- <div class="kopa-pull-right">

                                        <nav class="kopalisting-pagination">
                                            <span>Page:</span>
                                            <ul>
                                                <li>
                                                    <a class="prev" href="#">
                                                        <i class="kopa kopa-angle-left"></i>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><span class="current">2</span></li>
                                                <li><a href="#">3</a></li>
                                                <li>
                                                    <a class="next" href="#">
                                                        <i class="kopa kopa-angle-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- col-9 -->
                    
                        
                    
                    </div>
                    <!-- row --> 
                
                </div>
                <!-- container -->
                
            </section>