@import "sass/sass";


/**
 *
 *


1.2.1 Default Structure Tag

1.2.2 Default Layout

1.2.3 Basic Structure Class 

1.2.4 Extend Plugin

1.2.5 Widget



 *
 * 
 **/


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:after,
    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    *{
        &:last-child{
            margin-bottom: 0;
        }
    }
}

body {  
    font-family: sans-serif;
    @extend .text_format;
    color: $color-secondary;
    background: $cl-001;
    overflow-x: hidden;
    margin: 0;
    @media screen and (max-width: 479px){ 
        font-size: 14px;
        line-height: 22px;
    }
}


// [class*="kopalisting"]{item-thumb

/*___________ 1.2.1 Default Structure Tag ___________*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

figure {
    margin: 0;
}

p {
    margin: 0 0 10px;
    &:last-child{
        margin-bottom: 0;
    }
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    color: $color-primary;
    font-weight: 700;
    display: block;
    margin: 0 0 10px;   
    &:last-child{
        margin-bottom: 0;
    }
}

h1,
.h1 {
    font-size: 36px;
    line-height: 42px;
    @media screen and (max-width: 479px){ 
        font-size: 24px;
        line-height: 32px;
    }
}

h2,
.h2 {
    font-size: 30px;
    line-height: 32px;
    @media screen and (max-width: 479px){ 
        font-size: 22px;
        line-height: 30px;
    }
}

h3,
.h3 {
    font-size: 24px;
    line-height: 32px;
    @media screen and (max-width: 479px){ 
        font-size: 21px;
        line-height: 30px;
    }
}

h4,
.h4 {
    font-size: 20px;
    line-height: 28px;
}

h5,
.h5 {
    font-size: 18px;
    line-height: 26px;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 24px;
}

a {
    color: $color-primary;
    @extend .transition;
    text-decoration: none !important;
    outline: none !important;
    &:hover,
    &:focus,
    &.active {
        @extend .main_color;
    }
}

textarea {
    resize: vertical;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

input, select, button, textarea {
    outline: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    @extend .transition;
}

cite,
em,
var,
address,
dfn {
    font-style: italic;
}

iframe {
    border: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: $cl-003;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $cl-003;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $cl-003;
}

:-ms-input-placeholder {
    color: $cl-003;
}

/*--- custom ---*/

/* input */
input{
    &[type="text"], 
    &[type="password"], 
    &[type="email"], 
    &[type="search"], 
    &[type="tel"], 
    &[type="url"],
    &[type="submit"],
    &[type="button"]{
        height: 36px;
        line-height: 36px;
    }
}
.kopa-input-file{
    .input-file{    
        height: 36px;
        line-height: 36px;
    }
    input[type='file']{
        + label{
            height: 36px;
            line-height: 36px;
        }
    }
}
.kopa-input-file{
    .input-file{    
        position: relative; 
    }
    input[type='file']{
        width  : 5px;
        margin : 0;
        padding: 0;
        position: absolute;
        top: 5px;
        left: 5px;
        display: none;
        + label{
            width: 100%;
            cursor: pointer;
            margin: 0;
            position: relative;
            > span{
                display: block;
                width: 100%;
                height: 100%;
                line-height: 34px;
                padding: 0 15px;
                border: 1px solid #e5e5e5;
            }
            strong{
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                padding: 0 15px;
                color: #fff;
                text-transform: capitalize;
                font-weight: 400;
                @extend .main_bg_color;
            }
        }
    }
}

input{
    &[type="text"], 
    &[type="password"], 
    &[type="email"], 
    &[type="search"], 
    &[type="tel"], 
    &[type="url"]{
        background: $cl-001;
    }
}
input{
    &[type="text"], 
    &[type="password"], 
    &[type="email"], 
    &[type="search"], 
    &[type="tel"], 
    &[type="url"]{
        background: none;
        margin: 0;
        border: 1px solid #e5e5e5;
        color: $color-secondary;
        padding: 0 15px;
        width: 100%;
        @extend .transition;
        &:focus{
            border-color: #ccc;
        }
    }
}
input {
    &[type="submit"],
    &[type="button"] {
        line-height: 34px;
        border: none;
        border-radius: 4px;
        padding: 0 25px; 
        width: auto;
        text-transform: capitalize;
        text-align: center;
        color: $cl-001;
        cursor: pointer;
        @extend .main_bg_color;
        &:hover, &:focus {
            color: $cl-001;
            background: $color-primary;
        }
    }
} 
input[type="reset"] {
    @extend input[type="submit"];
    color: $color-primary;
    background: $cl-006;
    &:hover {
        color: $cl-002;
        background: $cl-007;
    }
}
input[type="number"] {
    @extend input[type="text"];
    padding: 0 0 0 15px;
    width: auto;
}
input{
    &[type="number"],
    &[type="date"],
    &[type="month"],
    &[type="week"],
    &[type="time"],
    &[type="datetime-local"] {
        @extend input[type="text"];
        width: auto;
        padding: 0 0 0 15px;
    }
}

/* textarea */
textarea {
    @extend input[type="text"];
    height: auto;
    line-height: 22px;
    padding: 10px 15px;
}

/* select */
select {
    @extend input[type="text"];
    padding: 0 0 0 15px;
}

/* button */
button{
    @extend input[type="submit"];
}
.btn{
    @extend button;
    color: $cl-001;
    display: inline-block;
    &.btn-big{
        font-size: 16px;
        line-height: 46px;
        height: 46px;
        padding: 0 45px;
    }
    &.btn-light{
        background: none;
        border: 1px solid #999;
        color: $color-primary;
        &:hover{
            @extend .main_color;
            @extend .main_bd_color;
        }
    }
    &.btn-light-color{
        line-height: 32px;
        background: none;
        @extend .main_color;
        border-width: 2px;
        border-style: solid;
        @extend .main_bd_color;
        &:hover{
            @extend .main_bg_color;
            color: $cl-001;
        }
    }
}

.btn_add_to_wishlist{
    &:before{
        @extend .kopafont;
        content: '\e94b';
        margin-right: 6px;
        @extend .transition;
    }
    &.added{
        cursor: text;
        &:before{
            content: '\e917';
        }
    }
    &.btn-big{
        &:before{
            margin-right: 10px;
        }
    }
    &.btn-light{
        &:before{
            @extend .main_color;
        }
        &.added{
            @extend .i_main_color;
        }
    }
    &.btn_wishlist_text{
        display: block;
        &:before{
            display: none;
        }
    }
}

/* label */
label{
    display: inline-block;
    margin: 0 0 5px;
}


/*___________ 1.2.2 Layout ___________*/

@import "sass/grid";

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    @extend .clearfix;
    @media screen and (max-width: 1160px) {
        width: 100%;
        padding: 0 10px;
    }
}
.kopa-pull-left{
    float: left;
}
.kopa-pull-right{
    float: right;
}
.main-col, .sidebar{
    @media screen and (max-width: 979px){ 
        width: 100%;
        margin-top: 40px;
        left: auto;
        right: auto;
        &:first-child{
            margin-top: 0;
        }
    }
}

/*_____________ 1.2.3 Basic Structure Class _____________*/

/*---  jQuery UI ---*/

.ui-widget-content,
.ui-widget.ui-widget-content{
    border-color: #e5e5e5;
}

/*--- select box ---*/
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border-radius: 0;
}
.ui-state-active, .ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover{
    background: #f3f3f3;
    border-color: #f3f3f3;
    color: $color-primary;
}
.kopa-select{
    position: relative;
    .ui-button{
        display: block;
        padding: 0 35px 0 15px;
        margin: 0;
        background: $cl-001;
        border-radius: 0;
        border-color: #e5e5e5;
        color: $color-secondary;
        .ui-icon{
            width: 30px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            position: absolute;
            top: -1px;
            right: -1px;
            text-indent: 0px;
            color: $color-primary;
            background: #f7f7f7;
            border: 1px solid #e5e5e5;
            @extend .kopafont;
            &:before{
                content: "\e901";
            }
        }
    }
    .ui-selectmenu-button{
        height: 36px;
        line-height: 36px;
        width: 100%;
        outline: none !important;
        @extend .transition;
        .ui-selectmenu-text{
            margin: 0;
        }
    }
}
.ui-selectmenu-open {
    padding-top: 5px;
}
.ui-menu .ui-menu-item-wrapper{
    padding: 5px 10px;
}
.kopa-select-list{
    .ui-widget-content{
        padding: 5px;
        // border-color: #ccc;
        li{
            list-style: none;
        }
    }
}

/*--- Datepicker ---*/

.kopa-datepicker{
    position: relative;
    input{
        padding: 0 45px 0 15px;
    }
    .ui-datepicker-trigger{
        height: auto;
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 0 15px 0 0;
        color: $color-secondary;
        text-align: right;
        @extend .kopafont;
        &:before{
            content: "\e915";
        }
    }
}
.ui-datepicker{
    margin-top: 2px;
    z-index: 999;
}
.ui-datepicker-header{
    a[class*='ui-datepicker-']{
        border: none !important;
        text-align: center;
        line-height: 28px;
        top: 2px;
        cursor: pointer;
        &:before{
            @extend .kopafont;
        }
        span{
            display: none !important;
            background: none;
        }
        &.ui-datepicker-prev{
            left: 2px;
            &:before{
                content: "\e90b";
            }
        }
        &.ui-datepicker-next{
            right: 2px;
            &:before{
                content: "\e90c";
            }
        } 
    }
}

/*--- slider-filter-box ---*/

.kopa-slider-filter{
    padding-top: 7.5px;
    overflow: hidden;
    .ui-widget-content{
        height: 5px;
        border: none;
        border-radius: 5px;
        background: #e5e5e5;
    }
}
.ui-slider { 
    .ui-slider-range{
        box-shadow: none !important;
        border-radius: 5px;
        @extend .main_bg_color;
    }
    .ui-slider-handle{
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        margin: 0 !important;
        @include icon(20px,20px,20px,14px);
        border-radius: 50%;
        @extend .i_main_bg_color;
        top: -7.5px; 
        cursor: pointer;
        @extend .transition;
        &:last-child{
            margin-left: -20px !important;
        }
    } 
}
.price_slider_amount {
    @extend .clearfix;
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    .price_label{
        span{
            color: $color-primary; 
        }
    }
}

/*--- radio-box ---*/
.kopa-radio-box{
    position: relative;
    input[type='radio']{
        width  : 5px;
        margin : 0;
        padding: 0;
        position: absolute;
        top: 5px;
        left: 5px;
        display: none;
        + label{
            font-weight: 400;
            display: inline-block;
            padding-left: 20px;
            margin: 0;
            @extend .main_color;
            cursor: pointer;
            position: relative;
            > span{
                @include icon(10px, 10px, 10px, 10px);
                border-width: 1px;
                border-style: solid;
                @extend .main_bd_color;
                position: absolute;
                top: 6px;
                left: 0;
                &:before{
                    content: '';
                    @include icon(4px, 4px, 4px, 4px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    @extend .main_bg_color;
                    opacity: 0;
                }
            }
        }
        &:checked, &.checked {
            & + label { 
                span{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/*--- check-box ---*/
.kopa-check-box{
    position: relative;
    input[type='checkbox']{
        width  : 5px;
        margin : 0;
        padding: 0;
        position: absolute;
        top: 5px;
        left: 5px;
        display: none;
        + label{
            color: $color-primary;
            font-weight: 400;
            display: inline-block;
            padding-left: 20px;
            margin: 0;
            cursor: pointer;
            position: relative;
            > span{
                @include icon(10px, 10px, 10px, 10px);
                border-width: 1px;
                border-style: solid;
                @extend .main_bd_color;
                position: absolute;
                top: 6px;
                left: 0;
                &:before{
                    @extend .kopafont;
                    content: '\e917';
                    @extend .main_color;
                    font-size: 8px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
            }
        }
        &:checked, &.checked {
            & + label { 
                span{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/*--- form ---*/

form{
    > .form-wrap{
        margin-top: 10px;
        &:first-child{
            margin-top: 0;
        }
    }
}

form[class*='ordering']{
    @extend .clearfix;
    label{
        float: left;
        margin: 3px 10px 0 0;
    }
    .kopa-select{
        float: left;
        .ui-button{
            padding: 0 30px 0 10px;
            .ui-icon{
                width: 22px;
                height: 26px; 
                line-height: 26px;
                background: none;
                border: none;
                color: #888;
            }
        }
        .ui-selectmenu-button{
            height: 26px; 
            line-height: 24px;
        }
    }
}

/*--- text format ---*/

.txt-up{
    text-transform: uppercase;
}
.txt-cap{
    text-transform: capitalize;
}

/*----- Tabs -----*/

.tab-navigation {
    @extend .list_reset;
    @extend .clearfix;
    margin: -15px -15px 0;
    > li {
        position: relative;
        float: left;
        margin: 15px 15px 0;
        > a {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            text-align: center;
            text-transform: capitalize;
            display: block;
            margin: 0;
            padding: 0;
            cursor: pointer;
            position: relative;
            &:hover {
                @extend .main_color;
            }
        }
        &.active > a,
        &.active > a:hover,
        &.active > a:focus {
            cursor: default;
            @extend .main_color;
        }
    }
}
.tab-content {
    padding: 15px 0 0;
    .tab-panel{
        height: 0;
        overflow: hidden;
        &.active{
            height: auto;
            overflow: visible;
        }
    }
}
.tab-navigation-mobile{
    position: relative;
    display: none;
    .sj-dropdown-btn{
        display: block;
        position: relative;
        cursor: pointer;
        &:before{
            @extend .kopafont;
            content: "\e901";
            position: absolute;
            top: 14px;
            right: 15px;
        }
    }
    > ul{
        @extend .list_reset;
        padding: 10px !important;
        background: #fff;
        border: 1px solid #e5e5e5;
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        width: 100%;
        z-index: 999;
        margin: 0;
        display: none;
        > li{ 
            padding: 5px 10px;
            text-transform: capitalize;
        }
        &.active{
            display: block;
        }
    }
}

/*--- Collapse ---*/

.kopa-collapse{
    display: none;
    &.kopa-collapse-in{
        display: block;
    }
}
.collapse-panel{
    margin-top: 8px;
    &:first-child{
        margin-top: 0;
    }
    .panel-heading{
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
        text-transform: capitalize;
        padding: 14px 25px;
        border: 1px solid #e5e5e5;
        cursor: pointer;
        color: $color-primary;
        @extend .transition;
        border-radius: 4px;
        &:hover{
            @extend .main_bg_color;
            @extend .main_bd_color;
            color: $cl-001;
        }
    }
    .panel-content{
        overflow: hidden; 
        padding: 20px 25px;
        border: 1px solid #e5e5e5;
        border-top: none;
        border-radius: 0 0 4px 4px;
        margin: 0 0 0;
        display: none;
    }
    &.active{
        .panel-heading{
            @extend .main_bg_color;
            @extend .main_bd_color;
            color: $cl-001;
            border-radius: 4px 4px 0 0;
        }
    }
}
.kopa-accordion{
    .collapse-panel{
        &.active{
            .panel-heading{
                cursor: text;
            }
        }
    }
}
// }

/*--- item ---*/

.item-thumb {
    width: 100%;
    max-width: 100%;
    display: block;
    position: relative;
    @extend .clearfix;
    img {
        width: 100%;
    }
}


/*_____________ 1.2.4 Extend Plugin _____________*/


/*--- owl-carousel ---*/

.owl-theme {
    .owl-controls {
        @include transition(0.5s);
        margin: 0;
        .owl-buttons div {
            color: $cl-001;
            background: rgba(0, 0, 0, 0.3);
            padding: 0;
            margin: 0;
            border-radius: 0;
            @include icon(24px, 24px, 24px, 14px);
            position: absolute;
            top: 50%;
            @include translateY(-50%);
            opacity: 1;
            @include transition(0.3s);
            &:hover {
                @extend .main_bg_color;
                color: $cl-001;
            }
            &.owl-prev {
                left: 0;
                padding-right: 2px;
                &:before {
                    content: "\e902";
                    @extend .kopafont;
                    @extend .transition;
                }
            }
            &.owl-next {
                right: 0;
                padding-left: 2px;
                &:before {
                    content: "\e903";
                    @extend .kopafont;
                    @extend .transition;
                }
            }
        }
        .owl-pagination {
            text-align: center;
            margin: 20px 0 0;
            .owl-page {
                span {
                    width: 10px;
                    height: 10px;
                    margin: 10px 5px 0;
                    background: none;
                    border-width: 1px;
                    border-style: solid;
                    @extend .main_bd_color;
                    border-radius: 50%;
                    @extend .transition;
                    opacity: 1;
                }
                &.active span,
                &:hover span {
                    @extend .main_bg_color;
                }
            }
        }
    }
}

/*_____________ 1.2.5 Widget _____________*/

.widget{
    margin-bottom: 45px;
}
.widget-title{
    text-transform: capitalize;
}