

.row{
    @extend .clearfix;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0;
}
[class*="col-"], [class*="column-"]{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}
.column-1{
    width: 10%;
}
.column-2{
    width: 20%;
}
.column-3{
    width: 30%;
}
.column-4{
    width: 40%;
}
.column-5{
    width: 50%;
}
.column-6{
    width: 60%;
}
.column-7{
    width: 70%;
}
.column-8{
    width: 80%;
}
.column-9{
    width: 90%;
}
/* pull */
.col-pull-12 {
    right: 100%;
}

.col-pull-11 {
    right: 91.66666667%;
}

.col-pull-10 {
    right: 83.33333333%;
}

.col-pull-9 {
    right: 75%;
}

.col-pull-8 {
    right: 66.66666667%;
}

.col-pull-7 {
    right: 58.33333333%;
}

.col-pull-6 {
    right: 50%;
}

.col-pull-5 {
    right: 41.66666667%;
}

.col-pull-4 {
    right: 33.33333333%;
}

.col-pull-3 {
    right: 25%;
}

.col-pull-2 {
    right: 16.66666667%;
}

.col-pull-1 {
    right: 8.33333333%;
}
.column-pull-1{
    right: 10%;
}
.column-pull-2{
    right: 20%;
}
.column-pull-3{
    right: 30%;
}
.column-pull-4{
    right: 40%;
}
.column-pull-5{
    right: 50%;
}
.column-pull-6{
    right: 60%;
}
.column-pull-7{
    right: 70%;
}
.column-pull-8{
    right: 80%;
}
.column-pull-9{
    right: 90%;
}
/* push */
.col-push-12 {
    left: 100%;
}

.col-push-11 {
    left: 91.66666667%;
}

.col-push-10 {
    left: 83.33333333%;
}

.col-push-9 {
    left: 75%;
}

.col-push-8 {
    left: 66.66666667%;
}

.col-push-7 {
    left: 58.33333333%;
}

.col-push-6 {
    left: 50%;
}

.col-push-5 {
    left: 41.66666667%;
}

.col-push-4 {
    left: 33.33333333%;
}

.col-push-3 {
    left: 25%;
}

.col-push-2 {
    left: 16.66666667%;
}

.col-push-1 {
    left: 8.33333333%;
}
.column-push-1{
    left: 10%;
}
.column-push-2{
    left: 20%;
}
.column-push-3{
    left: 30%;
}
.column-push-4{
    left: 40%;
}
.column-push-5{
    left: 50%;
}
.column-push-6{
    left: 60%;
}
.column-push-7{
    left: 70%;
}
.column-push-8{
    left: 80%;
}
.column-push-9{
    left: 90%;
}
/* offset */
.col-offset-12 {
    margin-left: 100%;
}

.col-offset-11 {
    margin-left: 91.66666667%;
}

.col-offset-10 {
    margin-left: 83.33333333%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-8 {
    margin-left: 66.66666667%;
}

.col-offset-7 {
    margin-left: 58.33333333%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-5 {
    margin-left: 41.66666667%;
}

.col-offset-4 {
    margin-left: 33.33333333%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-2 {
    margin-left: 16.66666667%;
}

.col-offset-1 {
    margin-left: 8.33333333%;
}
.column-offset-1{
    margin-left: 10%;
}
.column-offset-2{
    margin-left: 20%;
}
.column-offset-3{
    margin-left: 30%;
}
.column-offset-4{
    margin-left: 40%;
}
.column-offset-5{
    margin-left: 50%;
}
.column-offset-6{
    margin-left: 60%;
}
.column-offset-7{
    margin-left: 70%;
}
.column-offset-8{
    margin-left: 80%;
}
.column-offset-9{
    margin-left: 90%;
}
