

$color-primary: #333;
$color-secondary: #888;
$color-main: #09a0bb;

$color-001: #77a464;
$color-002: #da6161;

$cl-001: #fff;
$cl-002: #000;
$cl-003: #aaa;
$cl-004: #bbb;
$cl-005: #ccc;
$cl-006: #ddd;
$cl-007: #eee;
$cl-008: #fff;
$cl-009: #333;
$cl-010: #888;


$font-size: 14px;
$line-height: 22px;
$top: 50%; 


.main_color {
    color: $color-main;
}

.main_bg_color {
    background: $color-main;
}

body{
    .main_bd_color {
        border-color: $color-main;
    }
    .main_bdt_color {
        border-top-color: $color-main;
    }
    .main_bdr_color {
        border-right-color: $color-main;
    }
    .main_bdb_color {
        border-bottom-color: $color-main;
    }
    .main_bdl_color {
        border-left-color: $color-main;
    }
}

.i_main_color {
    color: $color-main !important;
}
.i_main_bg_color {
    background: $color-main !important;
}
.i_main_bd_color {
    border-color: $color-main !important;
}



.kopafont {
    font-family: 'kopa' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal; 
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.list_format {
    li:first-child {
        margin: 0;
        padding: 0;
        border: 0;
    }
}
.list_reset {
    list-style: none;
    padding: 0;
    li{
        list-style: none;
    }
    ul, ol {
        list-style: none;
        padding: 0;
    }
}

.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.transition {
    transition: all .3s, visibility 0s;
    -ms-transition: all .3s, visibility 0s;
    -webkit-transition: all .3s, visibility 0s;
    -moz-transition: all .3s, visibility 0s;
}


.text_format {
    font-size: $font-size;
    line-height: $line-height;
    font-style: normal;
}

@mixin list_t($margin-t, $padding-t, $border-t) {
    margin-top: $margin-t;
    padding-top: $padding-t;
    border-top: $border-t;
}

@mixin list_r($margin-r, $padding-r, $border-r) {
    margin-right: $margin-r;
    padding-right: $padding-r;
    border-right: $border-r;
}

@mixin list_b($margin-b, $padding-b, $border-b) {
    margin-bottom: $margin-b;
    padding-bottom: $padding-b;
    border-bottom: $border-b;
}
@mixin list_l($margin-l, $padding-l, $border-l) {
    margin-left: $margin-l;
    padding-left: $padding-l;
    border-left: $border-l;
}

@mixin icon($width, $height, $line-height, $font-size) {
    display: inline-block;
    text-align: center;
    width: $width;
    height: $height;
    line-height: $line-height;
    font-size: $font-size;
}



@mixin before-left($top,$bottom,$right,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-right: $right solid $color;
    top: $topp;
    left: -$right;
}

@mixin before-right($top,$bottom,$left,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-left: $left solid $color;
    top: $topp;
    right: -$left;
}

@mixin before-bottom($left,$right,$top,$color,$bottom) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-top: $top solid $color;
    bottom: $bottom;
    left: 50%;
    margin-left: -$left;
}

@mixin before-top($left,$right,$bottom,$color,$top) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-bottom: $bottom solid $color;
    top: $top;
    left: 50%;
    margin-left: -$left;
}

@mixin transition($time) {
    transition: all $time, visibility 0s;
    -ms-transition: all $time, visibility 0s;
    -webkit-transition: all $time, visibility 0s;
    -moz-transition: all $time, visibility 0s;
}


@mixin transform($transformx) {
    -webkit-transform: $transformx;
    -moz-transform: $transformx;
    -ms-transform: $transformx;
    -o-transform: $transformx;
    transform: $transformx;
}
@mixin transform_o($transformo) {
    -ms-transform-origin: $transformo;
    -moz-transform-origin: $transformo;
    -webkit-transform-origin: $transformo;
    transform-origin: $transformo;
}

@mixin scale($scale) {
    @include transform(scale($scale));
}

@mixin skew($skew) {
    @include transform(skew($skew));
}

@mixin rotate($rotate) {
    @include transform(rotate($rotate));
}

@mixin translateX($translateX) {
    @include transform(translateX($translateX));
}

@mixin translateY($translateY) {
    @include transform(translateY($translateY));
}


@mixin transform-origin($x, $y) {
    -webkit-transform-origin : $x $y;
       -moz-transform-origin : $x $y;
        -ms-transform-origin : $x $y;
         -o-transform-origin : $x $y;
            transform-origin : $x $y;
}

@mixin list_format($margin, $padding, $border) {
    li:first-child {
        margin: $margin;
        padding: $padding;
        border: $border;
    }
}
