@font-face {
  font-family: 'kopa';
  src:  url('../fonts/kopa/kopa.eot?dl034y');
  src:  url('../fonts/kopa/kopa.eot?dl034y#iefix') format('embedded-opentype'),
    url('../fonts/kopa/kopa.ttf?dl034y') format('truetype'),
    url('../fonts/kopa/kopa.woff?dl034y') format('woff'),
    url('../fonts/kopa/kopa.svg?dl034y#kopa') format('svg');
  font-weight: normal;
  font-style: normal;
}

.kopa {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kopa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kopa-advertising-panel:before {
  content: "\e900";
}
.kopa-angle-down:before {
  content: "\e901";
}
.kopa-angle-left:before {
  content: "\e902";
}
.kopa-angle-right:before {
  content: "\e903";
}
.kopa-angle-up:before {
  content: "\e904";
}
.kopa-area-chart:before {
  content: "\e905";
}
.kopa-ariport-shuttle:before {
  content: "\e906";
}
.kopa-arrow:before {
  content: "\e907";
}
.kopa-arrow-circle-down:before {
  content: "\e908";
}
.kopa-arrow-circle-left:before {
  content: "\e909";
}
.kopa-arrow-circle-o-down:before {
  content: "\e90a";
}
.kopa-arrow-circle-o-left:before {
  content: "\e90b";
}
.kopa-arrow-circle-o-right:before {
  content: "\e90c";
}
.kopa-arrow-circle-o-up:before {
  content: "\e90d";
}
.kopa-arrow-circle-right:before {
  content: "\e90e";
}
.kopa-arrow-circle-up:before {
  content: "\e90f";
}
.kopa-bath:before {
  content: "\e910";
}
.kopa-bath-lite:before {
  content: "\e911";
}
.kopa-bed:before {
  content: "\e912";
}
.kopa-bed-lite:before {
  content: "\e913";
}
.kopa-building:before {
  content: "\e914";
}
.kopa-calendar-0:before {
  content: "\e915";
}
.kopa-calendar-1:before {
  content: "\e916";
}
.kopa-check-0:before {
  content: "\e917";
}
.kopa-check-1:before {
  content: "\e918";
}
.kopa-check-2:before {
  content: "\e919";
}
.kopa-check-3:before {
  content: "\e91a";
}
.kopa-chevron-down:before {
  content: "\e91b";
}
.kopa-chevron-left:before {
  content: "\e91c";
}
.kopa-chevron-right:before {
  content: "\e91d";
}
.kopa-chevron-up:before {
  content: "\e91e";
}
.kopa-close-0:before {
  content: "\e91f";
}
.kopa-close-1:before {
  content: "\e920";
}
.kopa-close-2:before {
  content: "\e921";
}
.kopa-coffee:before {
  content: "\e922";
}
.kopa-comment-0:before {
  content: "\e923";
}
.kopa-comment-1:before {
  content: "\e924";
}
.kopa-comment-2:before {
  content: "\e925";
}
.kopa-comment-3:before {
  content: "\e926";
}
.kopa-comment-4:before {
  content: "\e927";
}
.kopa-comment-5:before {
  content: "\e928";
}
.kopa-comment-6:before {
  content: "\e929";
}
.kopa-comment-7:before {
  content: "\e92a";
}
.kopa-comment-8:before {
  content: "\e92b";
}
.kopa-comment-9:before {
  content: "\e92c";
}
.kopa-comment-10:before {
  content: "\e92d";
}
.kopa-comment-11:before {
  content: "\e92e";
}
.kopa-commercial:before {
  content: "\e92f";
}
.kopa-conference:before {
  content: "\e930";
}
.kopa-door-man:before {
  content: "\e931";
}
.kopa-dot:before {
  content: "\e932";
}
.kopa-elevator:before {
  content: "\e933";
}
.kopa-email-0:before {
  content: "\e934";
}
.kopa-email-1:before {
  content: "\e935";
}
.kopa-email-2:before {
  content: "\e936";
}
.kopa-email-3:before {
  content: "\e937";
}
.kopa-email-4:before {
  content: "\e938";
}
.kopa-family:before {
  content: "\e939";
}
.kopa-fan:before {
  content: "\e93a";
}
.kopa-fire:before {
  content: "\e93b";
}
.kopa-fitness:before {
  content: "\e93c";
}
.kopa-food:before {
  content: "\e93d";
}
.kopa-food-circle:before {
  content: "\e93e";
}
.kopa-fridge:before {
  content: "\e93f";
}
.kopa-fridge-lite:before {
  content: "\e940";
}
.kopa-garage:before {
  content: "\e941";
}
.kopa-glass-0:before {
  content: "\e942";
}
.kopa-glass-1:before {
  content: "\e943";
}
.kopa-glass-2:before {
  content: "\e944";
}
.kopa-glass-3:before {
  content: "\e945";
}
.kopa-golf:before {
  content: "\e946";
}
.kopa-grid:before {
  content: "\e947";
}
.kopa-grid-o:before {
  content: "\e948";
}
.kopa-handicap:before {
  content: "\e949";
}
.kopa-heart:before {
  content: "\e94a";
}
.kopa-heart-lite:before {
  content: "\e94b";
}
.kopa-home:before {
  content: "\e94c";
}
.kopa-info:before {
  content: "\e94d";
}
.kopa-kitchen:before {
  content: "\e94e";
}
.kopa-land:before {
  content: "\e94f";
}
.kopa-list:before {
  content: "\e950";
}
.kopa-list-lite:before {
  content: "\e951";
}
.kopa-list-o:before {
  content: "\e952";
}
.kopa-list-radius:before {
  content: "\e953";
}
.kopa-list-radius-o:before {
  content: "\e954";
}
.kopa-long-arrow-down:before {
  content: "\e955";
}
.kopa-long-arrow-left:before {
  content: "\e956";
}
.kopa-long-arrow-right:before {
  content: "\e957";
}
.kopa-long-arrow-up:before {
  content: "\e958";
}
.kopa-map-0:before {
  content: "\e959";
}
.kopa-map-1:before {
  content: "\e95a";
}
.kopa-map-2:before {
  content: "\e95b";
}
.kopa-mobile-0:before {
  content: "\e95c";
}
.kopa-mobile-1:before {
  content: "\e95d";
}
.kopa-mobile-2:before {
  content: "\e95e";
}
.kopa-mobile-3:before {
  content: "\e95f";
}
.kopa-mobile-4:before {
  content: "\e960";
}
.kopa-music:before {
  content: "\e961";
}
.kopa-music-lite:before {
  content: "\e962";
}
.kopa-offer:before {
  content: "\e963";
}
.kopa-pet-allowed-0:before {
  content: "\e964";
}
.kopa-pet-allowed-1:before {
  content: "\e965";
}
.kopa-pet-allowed-2:before {
  content: "\e966";
}
.kopa-pet-allowed-3:before {
  content: "\e967";
}
.kopa-phone-0:before {
  content: "\e968";
}
.kopa-phone-1:before {
  content: "\e969";
}
.kopa-phone-2:before {
  content: "\e96a";
}
.kopa-pool:before {
  content: "\e96b";
}
.kopa-real-estate:before {
  content: "\e96c";
}
.kopa-real-estate-light:before {
  content: "\e96d";
}
.kopa-rent:before {
  content: "\e96e";
}
.kopa-rental-house:before {
  content: "\e96f";
}
.kopa-room-service:before {
  content: "\e970";
}
.kopa-room-service-lite:before {
  content: "\e971";
}
.kopa-rural-house:before {
  content: "\e972";
}
.kopa-sale:before {
  content: "\e973";
}
.kopa-school:before {
  content: "\e974";
}
.kopa-search:before {
  content: "\e975";
}
.kopa-search-minus:before {
  content: "\e976";
}
.kopa-search-plus:before {
  content: "\e977";
}
.kopa-secure-vault:before {
  content: "\e978";
}
.kopa-shop:before {
  content: "\e979";
}
.kopa-shop-1:before {
  content: "\e97a";
}
.kopa-shop-2:before {
  content: "\e97b";
}
.kopa-shower:before {
  content: "\e97c";
}
.kopa-sign:before {
  content: "\e97d";
}
.kopa-smoke-0:before {
  content: "\e97e";
}
.kopa-smoke-1:before {
  content: "\e97f";
}
.kopa-sold:before {
  content: "\e980";
}
.kopa-spa:before {
  content: "\e981";
}
.kopa-square:before {
  content: "\e982";
}
.kopa-star:before {
  content: "\e983";
}
.kopa-star-in-0:before {
  content: "\e984";
}
.kopa-star-in-1:before {
  content: "\e985";
}
.kopa-star-o:before {
  content: "\e986";
}
.kopa-suburb:before {
  content: "\e987";
}
.kopa-suitcase:before {
  content: "\e988";
}
.kopa-team:before {
  content: "\e989";
}
.kopa-television:before {
  content: "\e98a";
}
.kopa-user-0:before {
  content: "\e98b";
}
.kopa-user-1:before {
  content: "\e98c";
}
.kopa-user-2:before {
  content: "\e98d";
}
.kopa-user-3:before {
  content: "\e98e";
}
.kopa-user-4:before {
  content: "\e98f";
}
.kopa-villa:before {
  content: "\e990";
}
.kopa-water-closet:before {
  content: "\e991";
}
.kopa-web-0:before {
  content: "\e992";
}
.kopa-web-1:before {
  content: "\e993";
}
.kopa-web-2:before {
  content: "\e994";
}
.kopa-web-3:before {
  content: "\e995";
}
.kopa-web-4:before {
  content: "\e996";
}
.kopa-web-5:before {
  content: "\e997";
}
.kopa-wifi-0:before {
  content: "\e998";
}
.kopa-wifi-1:before {
  content: "\e999";
}

