/**
 * Table of Contents:
 *

1. - Global Styles
2. - Header
    2.1 - Navigation 
    2.2 - Search 
3. - Content 
    3.1 - Widget
    3.2 - Home Page
    3.3 - Sub Page
    3.4 - Sidebar 
    3.5 - Bottom sidebar
4. - Footer 
5. - Color
6. - Responsive
 
 * -----------------------------------------------------------------------------
 */
/**
 * 1. Global Styles
 * -----------------------------------------------------------------------------
 */
.main_color, a:hover, a:focus, a.active, .btn.btn-light:hover, .btn.btn-light-color, .btn_add_to_wishlist.btn-light:before, .kopa-radio-box input[type='radio'] + label, .kopa-check-box input[type='checkbox'] + label > span:before, .tab-navigation > li > a:hover, .tab-navigation > li.active > a, .tab-navigation > li.active > a:hover, .tab-navigation > li.active > a:focus, [class*="kopalisting"] .kopalisting-layout-options ul li.active span, [class*="kopalisting"] .kopalisting-pagination ul li a.prev, [class*="kopalisting"] .kopalisting-pagination ul li a.next, [class*="kopalisting"] .items-list .item .item-amenities i:hover, [class*="kopalisting"] .item-categories a:hover, [class*="kopalisting"] .item-star i, [class*="kopalisting"] .item-rating p, [class*="kopalisting"] .item-info .price-wrap > span ins, [class*="kopalisting"] .tab-item-intro .tab-navigation-mobile .sj-dropdown-btn, [class*="kopalisting"] .item-tab-calendar table tbody td.available > *, [class*="kopalisting"] .item-tab-description .item-description-table ul p, [class*="kopalisting"] .item-availability-list .item-av .item-action .item-action-content .price-wrap > span ins, [class*="kopalisting"] .item-availability-list .item-av .item-description span, [class*="kopalisting"] .item-tab-amenities ul i, [class*="kopalisting"] .item-review-tab .tab-navigation-mobile .sj-dropdown-btn, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li a:hover, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li a:hover i, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a:hover, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a:focus, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a i, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a:hover i, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a:focus i, .widget.kopalisting.widget_categories_filter .menu > li.wu > i:hover, .widget.kopalisting.widget_items_list .item .item-content > *.item-price-avg .price-wrap > span ins {
  color: #86dca4; }

.main_bg_color, .kopa-input-file input[type='file'] + label strong, input[type="submit"], input[type="reset"], button, .btn, input[type="button"], .btn.btn-light-color:hover, .ui-slider .ui-slider-range, .kopa-radio-box input[type='radio'] + label > span:before, .collapse-panel .panel-heading:hover, .collapse-panel.active .panel-heading, .owl-theme .owl-controls .owl-buttons div:hover, .owl-theme .owl-controls .owl-pagination .owl-page.active span, .owl-theme .owl-controls .owl-pagination .owl-page:hover span, [class*="kopalisting"] .kopalisting-pagination ul li:hover a, [class*="kopalisting"] .kopalisting-pagination ul li.current a, [class*="kopalisting"] .kopalisting-pagination ul li.current span, [class*="kopalisting"] .kopalisting-pagination ul li span.current, [class*="kopalisting"] .kopalisting-pagination ul li a:hover, [class*="kopalisting"] .item-tab-gallery .sync1 .owl-controls .owl-buttons div, [class*="kopalisting"] .item-tab-gallery .sync2 .owl-controls .owl-buttons div, [class*="kopalisting"] .item-tab-calendar table tbody td.available > * p, [class*="kopalisting"] .item-tab-calendar .calendar-legend label.available:before, [class*="kopalisting"] .tab-item-description > .tab-navigation > li > a:hover, [class*="kopalisting"] .tab-item-description > .tab-navigation > li.active > a, [class*="kopalisting"] .tab-item-description > .tab-navigation > li.active > a:hover, [class*="kopalisting"] .tab-item-description > .tab-navigation > li.active > a:focus, [class*="kopalisting"] .tab-item-description > .tab-navigation-mobile .sj-dropdown-btn, [class*="kopalisting"] .item-review-tab .tab-panel header span {
  background: #86dca4; }

body .main_bd_color, body .btn.btn-light:hover, body .btn.btn-light-color, body .kopa-radio-box input[type='radio'] + label > span, .kopa-radio-box body input[type='radio'] + label > span, body .kopa-check-box input[type='checkbox'] + label > span, .kopa-check-box body input[type='checkbox'] + label > span, body .collapse-panel .panel-heading:hover, .collapse-panel body .panel-heading:hover, body .collapse-panel.active .panel-heading, .collapse-panel.active body .panel-heading, body .owl-theme .owl-controls .owl-pagination .owl-page span, .owl-theme .owl-controls .owl-pagination .owl-page body span, body [class*="kopalisting"] .kopalisting-pagination ul li:hover a, [class*="kopalisting"] .kopalisting-pagination ul li:hover body a, body [class*="kopalisting"] .kopalisting-pagination ul li.current a, [class*="kopalisting"] .kopalisting-pagination ul li.current body a, body [class*="kopalisting"] .kopalisting-pagination ul li.current span, [class*="kopalisting"] .kopalisting-pagination ul li.current body span, body [class*="kopalisting"] .kopalisting-pagination ul li span.current, [class*="kopalisting"] .kopalisting-pagination ul li body span.current, body [class*="kopalisting"] .kopalisting-pagination ul li a:hover, [class*="kopalisting"] .kopalisting-pagination ul li body a:hover, body [class*="kopalisting"] .item-tab-gallery .sync2 .item:before, [class*="kopalisting"] .item-tab-gallery .sync2 body .item:before, body [class*="kopalisting"] .item-tab-amenities ul i, [class*="kopalisting"] .item-tab-amenities ul body i, body [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li a:hover i, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li a:hover body i, body [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a i, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a body i, body [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a:hover i, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a:hover body i, body [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a:focus i, [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab .tab-navigation > li.active > a:focus body i, body .widget.kopalisting .tagcloud a:hover, .widget.kopalisting .tagcloud body a:hover {
  border-color: #86dca4; }
body .main_bdt_color {
  border-top-color: #86dca4; }
body .main_bdr_color {
  border-right-color: #86dca4; }
body .main_bdb_color {
  border-bottom-color: #86dca4; }
body .main_bdl_color {
  border-left-color: #86dca4; }

.i_main_color, .btn_add_to_wishlist.btn-light.added {
  color: #86dca4 !important; }

.i_main_bg_color, .ui-slider .ui-slider-handle {
  background: #86dca4 !important; }

.i_main_bd_color, [class*="kopalisting"] .item-tab-calendar table tbody td.available > * {
  border-color: #86dca4 !important; }

.kopafont, .btn_add_to_wishlist:before, .kopa-select .ui-button .ui-icon, .kopa-datepicker .ui-datepicker-trigger, .ui-datepicker-header a[class*='ui-datepicker-']:before, .kopa-check-box input[type='checkbox'] + label > span:before, .tab-navigation-mobile .sj-dropdown-btn:before, .owl-theme .owl-controls .owl-buttons div.owl-prev:before, .owl-theme .owl-controls .owl-buttons div.owl-next:before, [class*="kopalisting"] .item-rating p, .widget.kopalisting.widget_categories_filter .menu > li.wu > i {
  font-family: 'kopa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.list_format li:first-child, .widget.kopalisting.widget_items_list .widget-content > ul li:first-child {
  margin: 0;
  padding: 0;
  border: 0; }

.list_reset, .tab-navigation, .tab-navigation-mobile > ul, [class*="kopalisting"] .kopalisting-layout-options, [class*="kopalisting"] .kopalisting-pagination, [class*="kopalisting"] .items-list, [class*="kopalisting"] .item-tab-calendar .calendar-filter-list, [class*="kopalisting"] .item-tab-description .item-description-table ul, [class*="kopalisting"] .item-tab-description .item-description-more-info ul, [class*="kopalisting"] .item-availability-list ul, [class*="kopalisting"] .item-tab-amenities ul, [class*="kopalisting"] .item-review-tab, [class*="kopalisting"] .item-write-rv-overall-rating, .widget.kopalisting {
  list-style: none;
  padding: 0; }
  .list_reset li, .tab-navigation li, .tab-navigation-mobile > ul li, [class*="kopalisting"] .kopalisting-layout-options li, [class*="kopalisting"] .kopalisting-pagination li, [class*="kopalisting"] .items-list li, [class*="kopalisting"] .item-tab-calendar .calendar-filter-list li, [class*="kopalisting"] .item-tab-description .item-description-table ul li, [class*="kopalisting"] .item-tab-description .item-description-more-info ul li, [class*="kopalisting"] .item-availability-list ul li, [class*="kopalisting"] .item-tab-amenities ul li, [class*="kopalisting"] .item-review-tab li, [class*="kopalisting"] .item-write-rv-overall-rating li, .widget.kopalisting li {
    list-style: none; }
  .list_reset ul, .tab-navigation ul, .tab-navigation-mobile > ul ul, [class*="kopalisting"] .kopalisting-layout-options ul, [class*="kopalisting"] .kopalisting-pagination ul, [class*="kopalisting"] .items-list ul, [class*="kopalisting"] .item-tab-calendar .calendar-filter-list ul, [class*="kopalisting"] .item-tab-description .item-description-table ul ul, [class*="kopalisting"] .item-tab-description .item-description-more-info ul ul, [class*="kopalisting"] .item-availability-list ul ul, [class*="kopalisting"] .item-tab-amenities ul ul, [class*="kopalisting"] .item-review-tab ul, [class*="kopalisting"] .item-write-rv-overall-rating ul, .widget.kopalisting ul, .list_reset ol, .tab-navigation ol, .tab-navigation-mobile > ul ol, [class*="kopalisting"] .kopalisting-layout-options ol, [class*="kopalisting"] .kopalisting-pagination ol, [class*="kopalisting"] .items-list ol, [class*="kopalisting"] .item-tab-calendar .calendar-filter-list ol, [class*="kopalisting"] .item-tab-description .item-description-table ul ol, [class*="kopalisting"] .item-tab-description .item-description-more-info ul ol, [class*="kopalisting"] .item-availability-list ul ol, [class*="kopalisting"] .item-tab-amenities ul ol, [class*="kopalisting"] .item-review-tab ol, [class*="kopalisting"] .item-write-rv-overall-rating ol, .widget.kopalisting ol {
    list-style: none;
    padding: 0; }

.clearfix:before, .row:before, .container:before, .price_slider_amount:before, form[class*='ordering']:before, .tab-navigation:before, .item-thumb:before, [class*="kopalisting"] .kopalisting-item-list-header:before, [class*="kopalisting"] .kopalisting-item-list-header > :before, [class*="kopalisting"] .kopalisting-layout-options ul:before, [class*="kopalisting"] .kopalisting-pagination:before, [class*="kopalisting"] .kopalisting-pagination ul:before, [class*="kopalisting"] .item:before, [class*="kopalisting"] .kopalisting-item-list-footer:before, [class*="kopalisting"] .item-availability-list .item-av:before, [class*="kopalisting"] .item-review-tab:before, [class*="kopalisting"] .item-review-tab .tab-panel header:before, .widget.kopalisting.widget_categories_filter .menu > li:before, .clearfix:after, .row:after, .container:after, .price_slider_amount:after, form[class*='ordering']:after, .tab-navigation:after, .item-thumb:after, [class*="kopalisting"] .kopalisting-item-list-header:after, [class*="kopalisting"] .kopalisting-item-list-header > :after, [class*="kopalisting"] .kopalisting-layout-options ul:after, [class*="kopalisting"] .kopalisting-pagination:after, [class*="kopalisting"] .kopalisting-pagination ul:after, [class*="kopalisting"] .item:after, [class*="kopalisting"] .kopalisting-item-list-footer:after, [class*="kopalisting"] .item-availability-list .item-av:after, [class*="kopalisting"] .item-review-tab:after, [class*="kopalisting"] .item-review-tab .tab-panel header:after, .widget.kopalisting.widget_categories_filter .menu > li:after {
  content: "";
  display: table; }
.clearfix:after, .row:after, .container:after, .price_slider_amount:after, form[class*='ordering']:after, .tab-navigation:after, .item-thumb:after, [class*="kopalisting"] .kopalisting-item-list-header:after, [class*="kopalisting"] .kopalisting-item-list-header > :after, [class*="kopalisting"] .kopalisting-layout-options ul:after, [class*="kopalisting"] .kopalisting-pagination:after, [class*="kopalisting"] .kopalisting-pagination ul:after, [class*="kopalisting"] .item:after, [class*="kopalisting"] .kopalisting-item-list-footer:after, [class*="kopalisting"] .item-availability-list .item-av:after, [class*="kopalisting"] .item-review-tab:after, [class*="kopalisting"] .item-review-tab .tab-panel header:after, .widget.kopalisting.widget_categories_filter .menu > li:after {
  clear: both; }

.transition, a, input, select, button, .btn, textarea, input[type="text"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"], input[type="password"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], .btn_add_to_wishlist:before, .kopa-select .ui-selectmenu-button, .ui-slider .ui-slider-handle, .collapse-panel .panel-heading, .owl-theme .owl-controls .owl-buttons div.owl-prev:before, .owl-theme .owl-controls .owl-buttons div.owl-next:before, .owl-theme .owl-controls .owl-pagination .owl-page span, [class*="kopalisting"] .kopalisting-layout-options ul li span, [class*="kopalisting"] .kopalisting-pagination ul li, [class*="kopalisting"] .kopalisting-pagination ul li a, [class*="kopalisting"] .kopalisting-pagination ul li span, [class*="kopalisting"] .items-list .item .item-amenities i, [class*="kopalisting"] .item-tab-gallery .sync2 .item:before, [class*="kopalisting"] .item-tab-calendar table tbody td > * p, [class*="kopalisting"] .item-write-rv-form form .tab-block i, .widget.kopalisting.widget_categories_filter .menu > li, .widget.kopalisting.widget_categories_filter .menu > li.wu > i {
  transition: all .3s, visibility 0s;
  -ms-transition: all .3s, visibility 0s;
  -webkit-transition: all .3s, visibility 0s;
  -moz-transition: all .3s, visibility 0s; }

.text_format, body {
  font-size: 14px;
  line-height: 22px;
  font-style: normal; }

/**
 *
 *


1.2.1 Default Structure Tag

1.2.2 Default Layout

1.2.3 Basic Structure Class 

1.2.4 Extend Plugin

1.2.5 Widget



 *
 * 
 **/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  * *:last-child {
    margin-bottom: 0; }

body {
  font-family: sans-serif;
  color: #888;
  background: #fff;
  overflow-x: hidden;
  margin: 0; }
  @media screen and (max-width: 479px) {
    body {
      font-size: 14px;
      line-height: 22px; } }

/*___________ 1.2.1 Default Structure Tag ___________*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

figure {
  margin: 0; }

p {
  margin: 0 0 10px; }
  p:last-child {
    margin-bottom: 0; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #333;
  font-weight: 700;
  display: block;
  margin: 0 0 10px; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, .h1:last-child, .h2:last-child, .h3:last-child, .h4:last-child, .h5:last-child, .h6:last-child {
    margin-bottom: 0; }

h1,
.h1 {
  font-size: 36px;
  line-height: 42px; }
  @media screen and (max-width: 479px) {
    h1,
    .h1 {
      font-size: 24px;
      line-height: 32px; } }

h2,
.h2 {
  font-size: 30px;
  line-height: 32px; }
  @media screen and (max-width: 479px) {
    h2,
    .h2 {
      font-size: 22px;
      line-height: 30px; } }

h3,
.h3 {
  font-size: 24px;
  line-height: 32px; }
  @media screen and (max-width: 479px) {
    h3,
    .h3 {
      font-size: 21px;
      line-height: 30px; } }

h4,
.h4 {
  font-size: 20px;
  line-height: 28px; }

h5,
.h5 {
  font-size: 18px;
  line-height: 26px; }

h6,
.h6 {
  font-size: 16px;
  line-height: 24px; }

a {
  color: #333;
  text-decoration: none !important;
  outline: none !important; }

textarea {
  resize: vertical; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

input, select, button, .btn, textarea {
  outline: none !important;
  box-shadow: none !important;
  text-shadow: none !important; }

cite,
em,
var,
address,
dfn {
  font-style: italic; }

iframe {
  border: none;
  width: 100%; }

::-webkit-input-placeholder {
  color: #aaa; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #aaa; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #aaa; }

:-ms-input-placeholder {
  color: #aaa; }

/*--- custom ---*/
/* input */
input[type="text"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"], textarea, select, input[type="password"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"], input[type="submit"], input[type="reset"], button, .btn, input[type="button"] {
  height: 36px;
  line-height: 36px; }

.kopa-input-file .input-file {
  height: 36px;
  line-height: 36px; }
.kopa-input-file input[type='file'] + label {
  height: 36px;
  line-height: 36px; }

.kopa-input-file .input-file {
  position: relative; }
.kopa-input-file input[type='file'] {
  width: 5px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  display: none; }
  .kopa-input-file input[type='file'] + label {
    width: 100%;
    cursor: pointer;
    margin: 0;
    position: relative; }
    .kopa-input-file input[type='file'] + label > span {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 34px;
      padding: 0 15px;
      border: 1px solid #e5e5e5; }
    .kopa-input-file input[type='file'] + label strong {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      padding: 0 15px;
      color: #fff;
      text-transform: capitalize;
      font-weight: 400; }

input[type="text"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"], textarea, select, input[type="password"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"] {
  background: #fff; }

input[type="text"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"], textarea, select, input[type="password"], input[type="email"], input[type="search"], input[type="tel"], input[type="url"] {
  background: none;
  margin: 0;
  border: 1px solid #e5e5e5;
  color: #888;
  padding: 0 15px;
  width: 100%; }
  input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime-local"]:focus, textarea:focus, select:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="url"]:focus {
    border-color: #ccc; }

input[type="submit"], input[type="reset"], button, .btn, input[type="button"] {
  line-height: 34px;
  border: none;
  border-radius: 4px;
  padding: 0 25px;
  width: auto;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  cursor: pointer; }
  input[type="submit"]:hover, input[type="reset"]:hover, button:hover, .btn:hover, input[type="submit"]:focus, input[type="reset"]:focus, button:focus, .btn:focus, input[type="button"]:hover, input[type="button"]:focus {
    color: #fff;
    background: #333; }

input[type="reset"] {
  color: #333;
  background: #ddd; }
  input[type="reset"]:hover {
    color: #000;
    background: #eee; }

input[type="number"] {
  padding: 0 0 0 15px;
  width: auto; }

input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime-local"] {
  width: auto;
  padding: 0 0 0 15px; }

/* textarea */
textarea {
  height: auto;
  line-height: 22px;
  padding: 10px 15px; }

/* select */
select {
  padding: 0 0 0 15px; }

/* button */
.btn {
  color: #fff;
  display: inline-block; }
  .btn.btn-big {
    font-size: 16px;
    line-height: 46px;
    height: 46px;
    padding: 0 45px; }
  .btn.btn-light {
    background: none;
    border: 1px solid #999;
    color: #333; }
  .btn.btn-light-color {
    line-height: 32px;
    background: none;
    border-width: 2px;
    border-style: solid; }
    .btn.btn-light-color:hover {
      color: #fff; }

.btn_add_to_wishlist:before {
  content: '\e94b';
  margin-right: 6px; }
.btn_add_to_wishlist.added {
  cursor: text; }
  .btn_add_to_wishlist.added:before {
    content: '\e917'; }
.btn_add_to_wishlist.btn-big:before {
  margin-right: 10px; }
.btn_add_to_wishlist.btn_wishlist_text {
  display: block; }
  .btn_add_to_wishlist.btn_wishlist_text:before {
    display: none; }

/* label */
label {
  display: inline-block;
  margin: 0 0 5px; }

/*___________ 1.2.2 Layout ___________*/
.row {
  margin-right: -15px;
  margin-left: -15px;
  padding: 0; }

[class*="col-"], [class*="column-"] {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66666667%; }

.col-10 {
  width: 83.33333333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66666667%; }

.col-7 {
  width: 58.33333333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66666667%; }

.col-4 {
  width: 33.33333333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66666667%; }

.col-1 {
  width: 8.33333333%; }

.column-1 {
  width: 10%; }

.column-2 {
  width: 20%; }

.column-3 {
  width: 30%; }

.column-4 {
  width: 40%; }

.column-5 {
  width: 50%; }

.column-6 {
  width: 60%; }

.column-7 {
  width: 70%; }

.column-8 {
  width: 80%; }

.column-9 {
  width: 90%; }

/* pull */
.col-pull-12 {
  right: 100%; }

.col-pull-11 {
  right: 91.66666667%; }

.col-pull-10 {
  right: 83.33333333%; }

.col-pull-9 {
  right: 75%; }

.col-pull-8 {
  right: 66.66666667%; }

.col-pull-7 {
  right: 58.33333333%; }

.col-pull-6 {
  right: 50%; }

.col-pull-5 {
  right: 41.66666667%; }

.col-pull-4 {
  right: 33.33333333%; }

.col-pull-3 {
  right: 25%; }

.col-pull-2 {
  right: 16.66666667%; }

.col-pull-1 {
  right: 8.33333333%; }

.column-pull-1 {
  right: 10%; }

.column-pull-2 {
  right: 20%; }

.column-pull-3 {
  right: 30%; }

.column-pull-4 {
  right: 40%; }

.column-pull-5 {
  right: 50%; }

.column-pull-6 {
  right: 60%; }

.column-pull-7 {
  right: 70%; }

.column-pull-8 {
  right: 80%; }

.column-pull-9 {
  right: 90%; }

/* push */
.col-push-12 {
  left: 100%; }

.col-push-11 {
  left: 91.66666667%; }

.col-push-10 {
  left: 83.33333333%; }

.col-push-9 {
  left: 75%; }

.col-push-8 {
  left: 66.66666667%; }

.col-push-7 {
  left: 58.33333333%; }

.col-push-6 {
  left: 50%; }

.col-push-5 {
  left: 41.66666667%; }

.col-push-4 {
  left: 33.33333333%; }

.col-push-3 {
  left: 25%; }

.col-push-2 {
  left: 16.66666667%; }

.col-push-1 {
  left: 8.33333333%; }

.column-push-1 {
  left: 10%; }

.column-push-2 {
  left: 20%; }

.column-push-3 {
  left: 30%; }

.column-push-4 {
  left: 40%; }

.column-push-5 {
  left: 50%; }

.column-push-6 {
  left: 60%; }

.column-push-7 {
  left: 70%; }

.column-push-8 {
  left: 80%; }

.column-push-9 {
  left: 90%; }

/* offset */
.col-offset-12 {
  margin-left: 100%; }

.col-offset-11 {
  margin-left: 91.66666667%; }

.col-offset-10 {
  margin-left: 83.33333333%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-8 {
  margin-left: 66.66666667%; }

.col-offset-7 {
  margin-left: 58.33333333%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-5 {
  margin-left: 41.66666667%; }

.col-offset-4 {
  margin-left: 33.33333333%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-2 {
  margin-left: 16.66666667%; }

.col-offset-1 {
  margin-left: 8.33333333%; }

.column-offset-1 {
  margin-left: 10%; }

.column-offset-2 {
  margin-left: 20%; }

.column-offset-3 {
  margin-left: 30%; }

.column-offset-4 {
  margin-left: 40%; }

.column-offset-5 {
  margin-left: 50%; }

.column-offset-6 {
  margin-left: 60%; }

.column-offset-7 {
  margin-left: 70%; }

.column-offset-8 {
  margin-left: 80%; }

.column-offset-9 {
  margin-left: 90%; }

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  position: relative; }
  @media screen and (max-width: 1160px) {
    .container {
      width: 100%;
      padding: 0 10px; } }

.kopa-pull-left {
  float: left; }

.kopa-pull-right {
  float: right; }

@media screen and (max-width: 979px) {
  .main-col, .sidebar {
    width: 100%;
    margin-top: 40px;
    left: auto;
    right: auto; }
    .main-col:first-child, .sidebar:first-child {
      margin-top: 0; } }

/*_____________ 1.2.3 Basic Structure Class _____________*/
/*---  jQuery UI ---*/
.ui-widget-content,
.ui-widget.ui-widget-content {
  border-color: #e5e5e5; }

/*--- select box ---*/
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-radius: 0; }

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active,
.ui-button.ui-state-active:hover {
  background: #f3f3f3;
  border-color: #f3f3f3;
  color: #333; }

.kopa-select {
  position: relative; }
  .kopa-select .ui-button {
    display: block;
    padding: 0 35px 0 15px;
    margin: 0;
    background: #fff;
    border-radius: 0;
    border-color: #e5e5e5;
    color: #888; }
    .kopa-select .ui-button .ui-icon {
      width: 30px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      position: absolute;
      top: -1px;
      right: -1px;
      text-indent: 0px;
      color: #333;
      background: #f7f7f7;
      border: 1px solid #e5e5e5; }
      .kopa-select .ui-button .ui-icon:before {
        content: "\e901"; }
  .kopa-select .ui-selectmenu-button {
    height: 36px;
    line-height: 36px;
    width: 100%;
    outline: none !important; }
    .kopa-select .ui-selectmenu-button .ui-selectmenu-text {
      margin: 0; }

.ui-selectmenu-open {
  padding-top: 5px; }

.ui-menu .ui-menu-item-wrapper {
  padding: 5px 10px; }

.kopa-select-list .ui-widget-content {
  padding: 5px; }
  .kopa-select-list .ui-widget-content li {
    list-style: none; }

/*--- Datepicker ---*/
.kopa-datepicker {
  position: relative; }
  .kopa-datepicker input {
    padding: 0 45px 0 15px; }
  .kopa-datepicker .ui-datepicker-trigger {
    height: auto;
    background: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 15px 0 0;
    color: #888;
    text-align: right; }
    .kopa-datepicker .ui-datepicker-trigger:before {
      content: "\e915"; }

.ui-datepicker {
  margin-top: 2px;
  z-index: 999; }

.ui-datepicker-header a[class*='ui-datepicker-'] {
  border: none !important;
  text-align: center;
  line-height: 28px;
  top: 2px;
  cursor: pointer; }
  .ui-datepicker-header a[class*='ui-datepicker-'] span {
    display: none !important;
    background: none; }
  .ui-datepicker-header a[class*='ui-datepicker-'].ui-datepicker-prev {
    left: 2px; }
    .ui-datepicker-header a[class*='ui-datepicker-'].ui-datepicker-prev:before {
      content: "\e90b"; }
  .ui-datepicker-header a[class*='ui-datepicker-'].ui-datepicker-next {
    right: 2px; }
    .ui-datepicker-header a[class*='ui-datepicker-'].ui-datepicker-next:before {
      content: "\e90c"; }

/*--- slider-filter-box ---*/
.kopa-slider-filter {
  padding-top: 7.5px;
  overflow: hidden; }
  .kopa-slider-filter .ui-widget-content {
    height: 5px;
    border: none;
    border-radius: 5px;
    background: #e5e5e5; }

.ui-slider .ui-slider-range {
  box-shadow: none !important;
  border-radius: 5px; }
.ui-slider .ui-slider-handle {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  border-radius: 50%;
  top: -7.5px;
  cursor: pointer; }
  .ui-slider .ui-slider-handle:last-child {
    margin-left: -20px !important; }

.price_slider_amount {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  line-height: 24px; }
  .price_slider_amount .price_label span {
    color: #333; }

/*--- radio-box ---*/
.kopa-radio-box {
  position: relative; }
  .kopa-radio-box input[type='radio'] {
    width: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    display: none; }
    .kopa-radio-box input[type='radio'] + label {
      font-weight: 400;
      display: inline-block;
      padding-left: 20px;
      margin: 0;
      cursor: pointer;
      position: relative; }
      .kopa-radio-box input[type='radio'] + label > span {
        display: inline-block;
        text-align: center;
        width: 10px;
        height: 10px;
        line-height: 10px;
        font-size: 10px;
        border-width: 1px;
        border-style: solid;
        position: absolute;
        top: 6px;
        left: 0; }
        .kopa-radio-box input[type='radio'] + label > span:before {
          content: '';
          display: inline-block;
          text-align: center;
          width: 4px;
          height: 4px;
          line-height: 4px;
          font-size: 4px;
          position: absolute;
          top: 2px;
          left: 2px;
          opacity: 0; }
    .kopa-radio-box input[type='radio']:checked + label span:before, .kopa-radio-box input[type='radio'].checked + label span:before {
      opacity: 1; }

/*--- check-box ---*/
.kopa-check-box {
  position: relative; }
  .kopa-check-box input[type='checkbox'] {
    width: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    display: none; }
    .kopa-check-box input[type='checkbox'] + label {
      color: #333;
      font-weight: 400;
      display: inline-block;
      padding-left: 20px;
      margin: 0;
      cursor: pointer;
      position: relative; }
      .kopa-check-box input[type='checkbox'] + label > span {
        display: inline-block;
        text-align: center;
        width: 10px;
        height: 10px;
        line-height: 10px;
        font-size: 10px;
        border-width: 1px;
        border-style: solid;
        position: absolute;
        top: 6px;
        left: 0; }
        .kopa-check-box input[type='checkbox'] + label > span:before {
          content: '\e917';
          font-size: 8px;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; }
    .kopa-check-box input[type='checkbox']:checked + label span:before, .kopa-check-box input[type='checkbox'].checked + label span:before {
      opacity: 1; }

/*--- form ---*/
form > .form-wrap {
  margin-top: 10px; }
  form > .form-wrap:first-child {
    margin-top: 0; }

form[class*='ordering'] label {
  float: left;
  margin: 3px 10px 0 0; }
form[class*='ordering'] .kopa-select {
  float: left; }
  form[class*='ordering'] .kopa-select .ui-button {
    padding: 0 30px 0 10px; }
    form[class*='ordering'] .kopa-select .ui-button .ui-icon {
      width: 22px;
      height: 26px;
      line-height: 26px;
      background: none;
      border: none;
      color: #888; }
  form[class*='ordering'] .kopa-select .ui-selectmenu-button {
    height: 26px;
    line-height: 24px; }

/*--- text format ---*/
.txt-up {
  text-transform: uppercase; }

.txt-cap {
  text-transform: capitalize; }

/*----- Tabs -----*/
.tab-navigation {
  margin: -15px -15px 0; }
  .tab-navigation > li {
    position: relative;
    float: left;
    margin: 15px 15px 0; }
    .tab-navigation > li > a {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;
      display: block;
      margin: 0;
      padding: 0;
      cursor: pointer;
      position: relative; }
    .tab-navigation > li.active > a, .tab-navigation > li.active > a:hover, .tab-navigation > li.active > a:focus {
      cursor: default; }

.tab-content {
  padding: 15px 0 0; }
  .tab-content .tab-panel {
    height: 0;
    overflow: hidden; }
    .tab-content .tab-panel.active {
      height: auto;
      overflow: visible; }

.tab-navigation-mobile {
  position: relative;
  display: none; }
  .tab-navigation-mobile .sj-dropdown-btn {
    display: block;
    position: relative;
    cursor: pointer; }
    .tab-navigation-mobile .sj-dropdown-btn:before {
      content: "\e901";
      position: absolute;
      top: 14px;
      right: 15px; }
  .tab-navigation-mobile > ul {
    padding: 10px !important;
    background: #fff;
    border: 1px solid #e5e5e5;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    z-index: 999;
    margin: 0;
    display: none; }
    .tab-navigation-mobile > ul > li {
      padding: 5px 10px;
      text-transform: capitalize; }
    .tab-navigation-mobile > ul.active {
      display: block; }

/*--- Collapse ---*/
.kopa-collapse {
  display: none; }
  .kopa-collapse.kopa-collapse-in {
    display: block; }

.collapse-panel {
  margin-top: 8px; }
  .collapse-panel:first-child {
    margin-top: 0; }
  .collapse-panel .panel-heading {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 14px 25px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    color: #333;
    border-radius: 4px; }
    .collapse-panel .panel-heading:hover {
      color: #fff; }
  .collapse-panel .panel-content {
    overflow: hidden;
    padding: 20px 25px;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin: 0 0 0;
    display: none; }
  .collapse-panel.active .panel-heading {
    color: #fff;
    border-radius: 4px 4px 0 0; }

.kopa-accordion .collapse-panel.active .panel-heading {
  cursor: text; }

/*--- item ---*/
.item-thumb {
  width: 100%;
  max-width: 100%;
  display: block;
  position: relative; }
  .item-thumb img {
    width: 100%; }

/*_____________ 1.2.4 Extend Plugin _____________*/
/*--- owl-carousel ---*/
.owl-theme .owl-controls {
  transition: all 0.5s, visibility 0s;
  -ms-transition: all 0.5s, visibility 0s;
  -webkit-transition: all 0.5s, visibility 0s;
  -moz-transition: all 0.5s, visibility 0s;
  margin: 0; }
  .owl-theme .owl-controls .owl-buttons div {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
    border-radius: 0;
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.3s, visibility 0s;
    -ms-transition: all 0.3s, visibility 0s;
    -webkit-transition: all 0.3s, visibility 0s;
    -moz-transition: all 0.3s, visibility 0s; }
    .owl-theme .owl-controls .owl-buttons div:hover {
      color: #fff; }
    .owl-theme .owl-controls .owl-buttons div.owl-prev {
      left: 0;
      padding-right: 2px; }
      .owl-theme .owl-controls .owl-buttons div.owl-prev:before {
        content: "\e902"; }
    .owl-theme .owl-controls .owl-buttons div.owl-next {
      right: 0;
      padding-left: 2px; }
      .owl-theme .owl-controls .owl-buttons div.owl-next:before {
        content: "\e903"; }
  .owl-theme .owl-controls .owl-pagination {
    text-align: center;
    margin: 20px 0 0; }
    .owl-theme .owl-controls .owl-pagination .owl-page span {
      width: 10px;
      height: 10px;
      margin: 10px 5px 0;
      background: none;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      opacity: 1; }

/*_____________ 1.2.5 Widget _____________*/
.widget {
  margin-bottom: 45px; }

.widget-title {
  text-transform: capitalize; }

/**
 * 2. Listing
 * -------------------------------------------------------------------
 */
[class*="kopalisting"] {
  /*_____________ 2.1 Item List _____________*/
  /*--- HEADER ---*/
  /* kopalisting-layout-options */
  /* kopalisting-pagination */
  /*--- ITEM LIST ---*/
  /*--- item-categories ---*/
  /*--- title ---*/
  /*--- star ---*/
  /*--- address ---*/
  /*--- rating ---*/
  /*--- review ---*/
  /*--- price ---*/
  /*--- amenities ---*/
  /*--- onsale ---*/
  /*--- kopalisting-items-list ---*/
  /*--- FOOTER ---*/
  /*_____________ 2.2 ITEM SINGLE _____________*/
  /*--- ITEM ---*/
  /*--- ITEM-INFO ---*/
  /*--- TAB-ITEM-INTRO ---*/
  /*--- item-tab-gallery ---*/
  /*--- item-tab-map ---*/
  /*--- item-tab-calendar ---*/
  /*--- TAB-ITEM-DESCRIPTION ---*/
  /*--- item-tab-description ---*/
  /*--- item-tab-availability ---*/
  /*--- item-tab-amenities ---*/
  /*--- item-tab-review ---*/
  /*--- item-tab-write-review ---*/ }
  [class*="kopalisting"] .kopalisting-item-list-header {
    border: 1px solid #e5e5e5;
    padding: 14px;
    margin-bottom: 30px; }
    @media screen and (max-width: 767px) {
      [class*="kopalisting"] .kopalisting-item-list-header > * {
        float: none;
        width: 100%;
        margin-top: 15px; }
        [class*="kopalisting"] .kopalisting-item-list-header > *:first-child {
          margin-top: 0; }
        [class*="kopalisting"] .kopalisting-item-list-header > * > *:last-child {
          float: right; } }
  @media screen and (max-width: 767px) and (max-width: 479px) {
    [class*="kopalisting"] .kopalisting-item-list-header > *:last-child > * {
      width: 100%;
      float: none;
      margin: 10px 0 0; }
      [class*="kopalisting"] .kopalisting-item-list-header > *:last-child > *:first-child {
        margin: 0; } }

    [class*="kopalisting"] .kopalisting-item-list-header > * > * {
      float: left;
      margin-left: 20px; }
      [class*="kopalisting"] .kopalisting-item-list-header > * > *:first-child {
        margin-left: 0; }
    [class*="kopalisting"] .kopalisting-item-list-header .kopalisting-layout-options {
      margin-top: 4px; }
  [class*="kopalisting"] .kopalisting-layout-options ul {
    margin: -12px -6px 0; }
    [class*="kopalisting"] .kopalisting-layout-options ul li {
      float: left;
      margin: 12px 6px 0;
      cursor: pointer; }
  [class*="kopalisting"] .kopalisting-pagination > span {
    float: left;
    margin: 3px 10px 0 0; }
  [class*="kopalisting"] .kopalisting-pagination i {
    display: block;
    line-height: 20px; }
  [class*="kopalisting"] .kopalisting-pagination ul {
    float: left;
    margin: -8px -4px 0; }
    [class*="kopalisting"] .kopalisting-pagination ul li {
      float: left;
      margin: 8px 4px 0;
      cursor: pointer; }
      [class*="kopalisting"] .kopalisting-pagination ul li a, [class*="kopalisting"] .kopalisting-pagination ul li span {
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        display: block;
        min-width: 26px;
        padding: 2px 4px;
        border: 1px solid #e5e5e5; }
      [class*="kopalisting"] .kopalisting-pagination ul li:hover a, [class*="kopalisting"] .kopalisting-pagination ul li.current a {
        color: #fff; }
      [class*="kopalisting"] .kopalisting-pagination ul li.current {
        cursor: text; }
        [class*="kopalisting"] .kopalisting-pagination ul li.current span {
          color: #fff; }
      [class*="kopalisting"] .kopalisting-pagination ul li span.current {
        color: #fff;
        cursor: text; }
      [class*="kopalisting"] .kopalisting-pagination ul li a.prev:hover, [class*="kopalisting"] .kopalisting-pagination ul li a.next:hover {
        color: #fff; }
      [class*="kopalisting"] .kopalisting-pagination ul li a:hover {
        color: #fff; }
  [class*="kopalisting"] .items-list {
    margin-top: -30px; }
    [class*="kopalisting"] .items-list > * {
      margin-top: 30px; }
      @media screen and (max-width: 767px) {
        [class*="kopalisting"] .items-list > * {
          width: 50%; } }
      @media screen and (max-width: 639px) {
        [class*="kopalisting"] .items-list > * {
          width: 100%; } }
    [class*="kopalisting"] .items-list .item .item-thumb {
      margin-bottom: 20px; }
    [class*="kopalisting"] .items-list .item .item-content > * {
      margin: 10px 0 0; }
      [class*="kopalisting"] .items-list .item .item-content > *.item-price-avg {
        margin: 2px 0 0; }
      [class*="kopalisting"] .items-list .item .item-content > *:first-child {
        margin: 0; }
    [class*="kopalisting"] .items-list .item .item-content > footer {
      margin: 15px -5px 0; }
      [class*="kopalisting"] .items-list .item .item-content > footer > * {
        margin: 5px 5px 0;
        padding: 0 20px; }
      [class*="kopalisting"] .items-list .item .item-content > footer .btn-light {
        position: relative;
        top: 1px; }
    [class*="kopalisting"] .items-list .item .item-content .item-title {
      margin-bottom: 10px; }
    [class*="kopalisting"] .items-list .item .item-amenities {
      color: #555;
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px dashed #e5e5e5; }
      [class*="kopalisting"] .items-list .item .item-amenities:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none; }
  [class*="kopalisting"] .item {
    position: relative; }
    [class*="kopalisting"] .item .item-thumb {
      position: relative; }
  [class*="kopalisting"] .item-categories {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0; }
    [class*="kopalisting"] .item-categories a {
      color: #aaa; }
  [class*="kopalisting"] .item-title {
    text-transform: capitalize; }
    [class*="kopalisting"] .item-title > * {
      display: inline-block; }
    [class*="kopalisting"] .item-title a {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600; }
    [class*="kopalisting"] .item-title .item-star {
      margin-left: 2px; }
  [class*="kopalisting"] .item-star {
    position: relative; }
    [class*="kopalisting"] .item-star i {
      font-size: 12px; }
    [class*="kopalisting"] .item-star .item-star-content {
      color: #fff !important;
      white-space: nowrap;
      padding: 0 0 30px;
      position: absolute;
      top: -60px;
      left: 8px;
      z-index: 999;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      transition: all 0.2s ease-out, visibility 0s;
      -ms-transition: all 0.2s ease-out, visibility 0s;
      -webkit-transition: all 0.2s ease-out, visibility 0s;
      -moz-transition: all 0.2s ease-out, visibility 0s; }
      [class*="kopalisting"] .item-star .item-star-content p {
        font-size: 14px;
        line-height: 22px;
        text-transform: none;
        padding: 3px 15px;
        background: #333;
        border-radius: 4px;
        position: relative; }
        [class*="kopalisting"] .item-star .item-star-content p:before {
          content: '';
          position: absolute;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #333;
          bottom: -5px;
          left: 50%;
          margin-left: -5px; }
    [class*="kopalisting"] .item-star:hover .item-star-content {
      top: -40px;
      opacity: 1;
      visibility: visible; }
  [class*="kopalisting"] .item-address i {
    color: #bbb;
    margin-right: 5px; }
  [class*="kopalisting"] .item-rating p {
    display: inline-block;
    position: relative; }
    [class*="kopalisting"] .item-rating p:before {
      content: "\e986\e986\e986\e986\e986"; }
    [class*="kopalisting"] .item-rating p:after {
      content: "\e983\e983\e983\e983\e983";
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 90%; }
    [class*="kopalisting"] .item-rating p span {
      display: none; }
  [class*="kopalisting"] .item-review > * {
    display: inline-block; }
  [class*="kopalisting"] .price-wrap {
    color: #bbb;
    font-size: 12px; }
    [class*="kopalisting"] .price-wrap > span {
      display: inline-block;
      margin: -5px -3px 0; }
      [class*="kopalisting"] .price-wrap > span > * {
        display: inline-block;
        margin: 5px 3px 0; }
      [class*="kopalisting"] .price-wrap > span ins {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: #333; }
  [class*="kopalisting"] .item-price-avg {
    text-transform: capitalize;
    margin: -8px 0 0; }
    [class*="kopalisting"] .item-price-avg > * {
      display: inline-block;
      margin: 8px 0 0; }
  [class*="kopalisting"] .item-amenities > div {
    margin: -5px -3px 0; }
    [class*="kopalisting"] .item-amenities > div > * {
      display: inline-block;
      margin: 5px 3px 0; }
  [class*="kopalisting"] .item-on-sale {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-transform: capitalize;
    background: #77a464;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px; }
  [class*="kopalisting"] .kopalisting-items-list.list-layout .items-list > li {
    width: 100% !important; }
  [class*="kopalisting"] .kopalisting-items-list.list-layout .items-list .item .item-thumb {
    width: 300px;
    float: left;
    margin: 0 30px 0 0; }
  [class*="kopalisting"] .kopalisting-items-list.list-layout .items-list .item .item-content {
    overflow: hidden;
    padding-bottom: 1px; }
    [class*="kopalisting"] .kopalisting-items-list.list-layout .items-list .item .item-content > *:first-child {
      margin-top: -4px; }
  @media screen and (max-width: 639px) {
    [class*="kopalisting"] .kopalisting-items-list.list-layout .items-list .item .item-thumb {
      width: 100%;
      float: none;
      margin: 0 0 20px 0; }
    [class*="kopalisting"] .kopalisting-items-list.list-layout .items-list .item .item-content {
      overflow: visible; } }
  [class*="kopalisting"] .kopalisting-items-list.list-layout .item-star .item-star-content {
    padding: 30px 0 0;
    top: auto;
    bottom: -60px; }
    [class*="kopalisting"] .kopalisting-items-list.list-layout .item-star .item-star-content p:before {
      bottom: auto;
      border-top: none;
      content: '';
      position: absolute;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #333;
      top: -5px;
      left: 50%;
      margin-left: -5px; }
  [class*="kopalisting"] .kopalisting-items-list.list-layout .item-star:hover .item-star-content {
    top: auto;
    bottom: -40px; }
  [class*="kopalisting"] .kopalisting-item-list-footer {
    margin-top: 50px;
    text-align: center; }
    [class*="kopalisting"] .kopalisting-item-list-footer .kopalisting-pagination > * {
      display: inline-block;
      float: none; }
    [class*="kopalisting"] .kopalisting-item-list-footer .kopalisting-pagination > span {
      display: none; }
    @media screen and (max-width: 639px) {
      [class*="kopalisting"] .kopalisting-item-list-footer > * {
        width: 100%;
        float: none;
        margin-top: 10px; }
        [class*="kopalisting"] .kopalisting-item-list-footer > *:first-child {
          margin-top: 0; } }
  [class*="kopalisting"] .kopalisting-item .item > * {
    margin-top: 50px; }
    [class*="kopalisting"] .kopalisting-item .item > *:first-child {
      margin-top: 0; }
  [class*="kopalisting"] .item-info .item-price-avg {
    font-size: 18px;
    line-height: 26px;
    margin-top: 5px; }
  [class*="kopalisting"] .item-info .price-wrap > span ins {
    font-size: 22px;
    font-weight: 400; }
  [class*="kopalisting"] .tab-item-intro .tab-navigation {
    border: 1px solid #e5e5e5;
    padding: 0px 20px 10px 5px;
    margin: 0; }
    [class*="kopalisting"] .tab-item-intro .tab-navigation li {
      margin: 10px 15px 0; }
  [class*="kopalisting"] .tab-item-intro .tab-navigation-mobile .sj-dropdown-btn {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-transform: capitalize;
    border: 1px solid #e5e5e5;
    padding: 10px 40px 10px 20px; }
  @media screen and (max-width: 979px) {
    [class*="kopalisting"] .tab-item-intro .tab-navigation {
      display: none; }
    [class*="kopalisting"] .tab-item-intro .tab-navigation-mobile {
      display: block; } }
  [class*="kopalisting"] .item-tab-gallery {
    overflow-x: hidden; }
    [class*="kopalisting"] .item-tab-gallery img {
      width: 100%; }
    [class*="kopalisting"] .item-tab-gallery .thumb-slider {
      margin: 20px -10px 0; }
      @media screen and (max-width: 479px) {
        [class*="kopalisting"] .item-tab-gallery .thumb-slider {
          display: none; } }
    [class*="kopalisting"] .item-tab-gallery .sync1 .owl-controls .owl-buttons div {
      display: inline-block;
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 26px; }
    [class*="kopalisting"] .item-tab-gallery .sync2 .owl-controls .owl-buttons div.owl-prev {
      left: 10px; }
    [class*="kopalisting"] .item-tab-gallery .sync2 .owl-controls .owl-buttons div.owl-next {
      right: 10px; }
    [class*="kopalisting"] .item-tab-gallery .sync2 .item {
      padding: 0 10px; }
      [class*="kopalisting"] .item-tab-gallery .sync2 .item:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        left: 10px;
        border-width: 3px;
        border-style: solid;
        opacity: 0; }
    [class*="kopalisting"] .item-tab-gallery .sync2 .owl-item {
      cursor: pointer; }
      [class*="kopalisting"] .item-tab-gallery .sync2 .owl-item:hover .item:before, [class*="kopalisting"] .item-tab-gallery .sync2 .owl-item.synced .item:before {
        opacity: 1; }
  [class*="kopalisting"] .item-tab-map {
    width: 100% !important; }
    @media screen and (max-width: 979px) {
      [class*="kopalisting"] .item-tab-map {
        height: 400px !important; } }
    @media screen and (max-width: 639px) {
      [class*="kopalisting"] .item-tab-map {
        height: 200px !important; } }
  [class*="kopalisting"] .item-tab-calendar {
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px;
    position: relative; }
    @media screen and (max-width: 767px) {
      [class*="kopalisting"] .item-tab-calendar {
        padding: 10px; } }
    [class*="kopalisting"] .item-tab-calendar:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f1f1f1;
      opacity: .15; }
    [class*="kopalisting"] .item-tab-calendar > * {
      position: relative; }
    [class*="kopalisting"] .item-tab-calendar .calendar-filter-list {
      text-transform: capitalize; }
      [class*="kopalisting"] .item-tab-calendar .calendar-filter-list .kopa-select h6 {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        text-transform: uppercase; }
        @media screen and (max-width: 639px) {
          [class*="kopalisting"] .item-tab-calendar .calendar-filter-list .kopa-select h6 {
            font-size: 12px;
            line-height: 20px; } }
      @media screen and (max-width: 639px) {
        [class*="kopalisting"] .item-tab-calendar .calendar-filter-list > * {
          width: 100%;
          margin-top: 15px; }
          [class*="kopalisting"] .item-tab-calendar .calendar-filter-list > *:first-child {
            margin-top: 0; } }
    [class*="kopalisting"] .item-tab-calendar table {
      width: 100%;
      table-layout: fixed;
      margin: 20px -2.5px -2.5px; }
      [class*="kopalisting"] .item-tab-calendar table td {
        padding: 2.5px; }
      @media screen and (max-width: 639px) {
        [class*="kopalisting"] .item-tab-calendar table {
          margin: 10px 0 0; }
          [class*="kopalisting"] .item-tab-calendar table td {
            width: 100%;
            display: block; }
          [class*="kopalisting"] .item-tab-calendar table thead {
            display: none; } }
      [class*="kopalisting"] .item-tab-calendar table thead {
        color: #333; }
        [class*="kopalisting"] .item-tab-calendar table thead td {
          text-align: center;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 40px; }
      [class*="kopalisting"] .item-tab-calendar table tbody td {
        text-align: right;
        position: relative; }
        [class*="kopalisting"] .item-tab-calendar table tbody td > * {
          display: block;
          padding: 5px;
          background: #fff;
          border: 1px solid #ddd;
          color: #333;
          font-size: 1.1em;
          line-height: 1.4em;
          height: 60px;
          position: relative;
          overflow: hidden; }
          [class*="kopalisting"] .item-tab-calendar table tbody td > * p {
            font-size: 10px;
            line-height: 58px;
            text-transform: uppercase;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: #f7f7f7;
            cursor: default;
            z-index: 1;
            width: 0;
            overflow: hidden; }
            @media screen and (max-width: 767px) {
              [class*="kopalisting"] .item-tab-calendar table tbody td > * p {
                font-size: 9px; } }
          [class*="kopalisting"] .item-tab-calendar table tbody td > *:hover p {
            width: 100%;
            padding: 0 5px;
            overflow: visible; }
        [class*="kopalisting"] .item-tab-calendar table tbody td .price-text {
          position: absolute;
          bottom: 5px;
          right: 5px;
          color: #fff;
          font-size: 0.8571em; }
        [class*="kopalisting"] .item-tab-calendar table tbody td.date-passed > * p {
          width: 100%;
          padding: 0 5px;
          overflow: visible;
          opacity: 0; }
        [class*="kopalisting"] .item-tab-calendar table tbody td.date-passed > *:hover p {
          opacity: 1; }
        [class*="kopalisting"] .item-tab-calendar table tbody td.available > * {
          background: #f7f7f7;
          border: none;
          border-left-width: 4px;
          border-left-style: solid; }
          [class*="kopalisting"] .item-tab-calendar table tbody td.available > * p {
            color: #fff;
            cursor: pointer; }
        [class*="kopalisting"] .item-tab-calendar table tbody td.unavailable > * {
          color: #da6161;
          background: #f7f7f7;
          border: none;
          border-left: 4px solid #da6161; }
          [class*="kopalisting"] .item-tab-calendar table tbody td.unavailable > * p {
            color: #fff;
            background: #da6161; }
    [class*="kopalisting"] .item-tab-calendar .calendar-legend {
      margin: 10px -5px; }
      [class*="kopalisting"] .item-tab-calendar .calendar-legend > * {
        margin: 10px 5px 0; }
      [class*="kopalisting"] .item-tab-calendar .calendar-legend label {
        font-size: 10px;
        line-height: 15px;
        text-transform: uppercase;
        font-weight: normal; }
        [class*="kopalisting"] .item-tab-calendar .calendar-legend label:before {
          content: "";
          display: block;
          float: left;
          width: 15px;
          height: 15px;
          border: 1px solid #ddd;
          margin-right: 8px; }
        [class*="kopalisting"] .item-tab-calendar .calendar-legend label.available:before {
          border: none; }
        [class*="kopalisting"] .item-tab-calendar .calendar-legend label.unavailable:before {
          background: #da6161;
          border: none; }
  [class*="kopalisting"] .tab-item-description h6 {
    text-transform: capitalize; }
  [class*="kopalisting"] .tab-item-description > .tab-navigation {
    margin: -10px -5px 0; }
    [class*="kopalisting"] .tab-item-description > .tab-navigation > li {
      margin: 10px 5px 0; }
      [class*="kopalisting"] .tab-item-description > .tab-navigation > li > a {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        text-transform: capitalize;
        margin: 0;
        padding: 8px 20px;
        background: #f7f7f7; }
        [class*="kopalisting"] .tab-item-description > .tab-navigation > li > a:hover {
          color: #fff; }
      [class*="kopalisting"] .tab-item-description > .tab-navigation > li.active > a, [class*="kopalisting"] .tab-item-description > .tab-navigation > li.active > a:hover, [class*="kopalisting"] .tab-item-description > .tab-navigation > li.active > a:focus {
        cursor: default;
        color: #fff; }
  [class*="kopalisting"] .tab-item-description > .tab-content {
    padding: 30px 0 0; }
  [class*="kopalisting"] .tab-item-description > .tab-navigation-mobile .sj-dropdown-btn {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 40px 10px 20px; }
  @media screen and (max-width: 979px) {
    [class*="kopalisting"] .tab-item-description .tab-navigation {
      display: none; }
    [class*="kopalisting"] .tab-item-description .tab-navigation-mobile {
      display: block; } }
  [class*="kopalisting"] .tab-item-description [class*='item-tab-'] > div {
    margin-top: 30px; }
    [class*="kopalisting"] .tab-item-description [class*='item-tab-'] > div:first-child {
      margin-top: 0; }
  [class*="kopalisting"] .item-tab-description .item-description-table {
    padding: 20px;
    border: 1px solid #e5e5e5; }
    [class*="kopalisting"] .item-tab-description .item-description-table ul {
      margin: -8px 0 0; }
      [class*="kopalisting"] .item-tab-description .item-description-table ul li {
        margin-top: 8px; }
        @media screen and (max-width: 479px) {
          [class*="kopalisting"] .item-tab-description .item-description-table ul li > .row > * {
            width: 100%;
            margin-top: 0; } }
      [class*="kopalisting"] .item-tab-description .item-description-table ul p {
        font-size: 12px;
        text-transform: uppercase; }
        [class*="kopalisting"] .item-tab-description .item-description-table ul p:after {
          content: ':'; }
      [class*="kopalisting"] .item-tab-description .item-description-table ul span {
        text-transform: capitalize;
        color: #333; }
  [class*="kopalisting"] .item-tab-description .item-description-more-info ul {
    margin: 0; }
    [class*="kopalisting"] .item-tab-description .item-description-more-info ul li {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px dashed #e5e5e5; }
      [class*="kopalisting"] .item-tab-description .item-description-more-info ul li:first-child {
        border-top: none; }
      @media screen and (max-width: 479px) {
        [class*="kopalisting"] .item-tab-description .item-description-more-info ul li > .row > * {
          width: 100%;
          margin-top: 0; }
          [class*="kopalisting"] .item-tab-description .item-description-more-info ul li > .row > *:first-child {
            margin-top: 0; } }
    [class*="kopalisting"] .item-tab-description .item-description-more-info ul p {
      font-size: 12px;
      text-transform: uppercase; }
      [class*="kopalisting"] .item-tab-description .item-description-more-info ul p:after {
        content: ':'; }
    [class*="kopalisting"] .item-tab-description .item-description-more-info ul span {
      color: #333; }
  [class*="kopalisting"] .search-availability-form {
    text-transform: capitalize;
    padding: 20px;
    border: 1px solid #e5e5e5; }
    [class*="kopalisting"] .search-availability-form h6 {
      margin-bottom: 5px; }
    [class*="kopalisting"] .search-availability-form button.search-submit, [class*="kopalisting"] .search-availability-form .search-submit.btn {
      width: 100%;
      display: block; }
    @media screen and (max-width: 767px) {
      [class*="kopalisting"] .search-availability-form > .row {
        margin-top: -20px; }
        [class*="kopalisting"] .search-availability-form > .row > * {
          width: 50%;
          margin-top: 20px; }
          [class*="kopalisting"] .search-availability-form > .row > *:last-child {
            width: 100%; }
            [class*="kopalisting"] .search-availability-form > .row > *:last-child h6, [class*="kopalisting"] .search-availability-form > .row > *:last-child label {
              display: none; } }
    @media screen and (max-width: 767px) and (max-width: 639px) {
      [class*="kopalisting"] .search-availability-form > .row > * {
        width: 100%; } }

  [class*="kopalisting"] .item-availability-list ul {
    margin: 0; }
  [class*="kopalisting"] .item-availability-list > ul > * {
    margin-top: 25px; }
  [class*="kopalisting"] .item-availability-list .item-av {
    position: relative;
    padding-right: 180px;
    min-height: 150px; }
    [class*="kopalisting"] .item-availability-list .item-av .item-thumb {
      width: 220px;
      float: left;
      margin: 0 30px 0 0; }
    [class*="kopalisting"] .item-availability-list .item-av .item-content {
      overflow: hidden;
      position: relative; }
      [class*="kopalisting"] .item-availability-list .item-av .item-content > * {
        margin: 5px 0 0; }
        [class*="kopalisting"] .item-availability-list .item-av .item-content > *.item-amenities {
          margin-top: 15px; }
        [class*="kopalisting"] .item-availability-list .item-av .item-content > *:first-child {
          margin-top: -4px; }
    [class*="kopalisting"] .item-availability-list .item-av .item-action {
      width: 150px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center; }
      [class*="kopalisting"] .item-availability-list .item-av .item-action .item-action-content > * {
        margin-top: 10px; }
        [class*="kopalisting"] .item-availability-list .item-av .item-action .item-action-content > *:first-child {
          margin-top: 0; }
      [class*="kopalisting"] .item-availability-list .item-av .item-action .item-action-content ul {
        margin-top: -4px;
        font-size: 10px;
        line-height: 18px;
        text-transform: uppercase; }
      [class*="kopalisting"] .item-availability-list .item-av .item-action .item-action-content .price-wrap > span ins {
        font-size: 24px;
        font-weight: 400; }
      [class*="kopalisting"] .item-availability-list .item-av .item-action .item-action-content > span {
        font-size: 18px;
        line-height: 26px;
        color: #da6161;
        text-transform: capitalize; }
    [class*="kopalisting"] .item-availability-list .item-av .item-title a {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      text-transform: uppercase; }
    [class*="kopalisting"] .item-availability-list .item-av .item-description span {
      text-transform: capitalize; }
    [class*="kopalisting"] .item-availability-list .item-av .item-amenities {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px dashed #e5e5e5; }
      [class*="kopalisting"] .item-availability-list .item-av .item-amenities i {
        display: inline-block;
        text-align: center;
        width: 32px;
        height: 32px;
        line-height: 30px;
        font-size: 16px;
        border: 1px solid #e5e5e5;
        color: #888;
        border-radius: 50%; }
    @media screen and (max-width: 767px) {
      [class*="kopalisting"] .item-availability-list .item-av .item-thumb {
        float: none;
        margin: 0 0 10px 0; }
      [class*="kopalisting"] .item-availability-list .item-av .item-content {
        overflow: visible; } }
    @media screen and (max-width: 479px) {
      [class*="kopalisting"] .item-availability-list .item-av {
        padding: 0; }
        [class*="kopalisting"] .item-availability-list .item-av .item-thumb {
          width: 100%; }
        [class*="kopalisting"] .item-availability-list .item-av .item-action {
          width: auto;
          position: relative;
          top: auto;
          right: auto;
          text-align: left;
          margin-top: 20px; } }
  [class*="kopalisting"] .item-tab-amenities ul {
    margin-top: -10px; }
    [class*="kopalisting"] .item-tab-amenities ul li {
      margin-top: 30px; }
      [class*="kopalisting"] .item-tab-amenities ul li div {
        position: relative;
        min-height: 36px;
        padding: 7px 0 0 46px; }
      @media screen and (max-width: 639px) {
        [class*="kopalisting"] .item-tab-amenities ul li {
          width: 100%; } }
    [class*="kopalisting"] .item-tab-amenities ul i {
      display: inline-block;
      text-align: center;
      width: 36px;
      height: 36px;
      line-height: 34px;
      font-size: 20px;
      border-width: 1px;
      border-style: solid;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0; }
    [class*="kopalisting"] .item-tab-amenities ul p {
      text-transform: capitalize;
      color: #333; }
  [class*="kopalisting"] .item-review-tab > * {
    float: left; }
    [class*="kopalisting"] .item-review-tab > *:last-child {
      margin-left: -1px; }
    @media screen and (max-width: 979px) {
      [class*="kopalisting"] .item-review-tab > * {
        float: none; }
        [class*="kopalisting"] .item-review-tab > *:last-child {
          margin: 0; } }
  [class*="kopalisting"] .item-review-tab > .tab-navigation {
    width: 25%;
    margin: 0; }
    [class*="kopalisting"] .item-review-tab > .tab-navigation li {
      width: 100%;
      float: none;
      margin: 0;
      border: 1px solid #e5e5e5;
      border-top: 0;
      position: relative; }
      [class*="kopalisting"] .item-review-tab > .tab-navigation li:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f1f1f1;
        opacity: .2; }
      [class*="kopalisting"] .item-review-tab > .tab-navigation li:first-child {
        border-top: 1px solid #e5e5e5; }
      [class*="kopalisting"] .item-review-tab > .tab-navigation li a {
        font-size: 14px;
        line-height: 22px;
        text-align: left;
        padding: 8px 15px; }
        [class*="kopalisting"] .item-review-tab > .tab-navigation li a span {
          float: right;
          font-weight: 400; }
  [class*="kopalisting"] .item-review-tab > .tab-content {
    width: 75%;
    padding: 25px;
    border: 1px solid #e5e5e5;
    background: #fff; }
    @media screen and (max-width: 979px) {
      [class*="kopalisting"] .item-review-tab > .tab-content {
        width: 100%;
        padding: 15px; } }
  [class*="kopalisting"] .item-review-tab .tab-navigation-mobile .sj-dropdown-btn {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-transform: capitalize;
    border: 1px solid #e5e5e5;
    background: #f1f1f1;
    padding: 10px 40px 10px 15px;
    margin-bottom: 2px; }
  @media screen and (max-width: 979px) {
    [class*="kopalisting"] .item-review-tab .tab-navigation {
      display: none; }
    [class*="kopalisting"] .item-review-tab .tab-navigation-mobile {
      display: block; } }
  [class*="kopalisting"] .item-review-tab .tab-panel header span {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    padding: 2px 15px; }
  [class*="kopalisting"] .item-review-tab .tab-panel header .item-review {
    font-size: 25px;
    margin-top: 10px; }
  [class*="kopalisting"] .item-review-tab .tab-panel header .btn {
    margin-top: 16px; }
  @media screen and (max-width: 479px) {
    [class*="kopalisting"] .item-review-tab .tab-panel header > * {
      float: none;
      margin-top: 10px; }
      [class*="kopalisting"] .item-review-tab .tab-panel header > *:first-child {
        margin-top: 0; }
    [class*="kopalisting"] .item-review-tab .tab-panel header .btn {
      margin-top: 0; } }
  [class*="kopalisting"] .item-review-tab .tab-panel section {
    text-transform: capitalize;
    color: #333; }
    [class*="kopalisting"] .item-review-tab .tab-panel section ul {
      position: relative; }
      [class*="kopalisting"] .item-review-tab .tab-panel section ul li > div {
        margin-top: 8px;
        padding-top: 8px;
        border-top: 1px dashed #e5e5e5; }
      @media screen and (max-width: 639px) {
        [class*="kopalisting"] .item-review-tab .tab-panel section ul li {
          width: 100%; } }
    [class*="kopalisting"] .item-review-tab .tab-panel section .item-review {
      float: right; }
  [class*="kopalisting"] .item-write-rv-header .kopa-pull-right {
    text-align: right; }
  [class*="kopalisting"] .item-write-rv-header h4 {
    text-transform: capitalize;
    margin: 0 0 5px; }
  [class*="kopalisting"] .item-write-rv-header .item-review {
    margin-top: 5px; }
    [class*="kopalisting"] .item-write-rv-header .item-review > * {
      display: block; }
  [class*="kopalisting"] .item-write-rv-overall-rating > .item-review {
    margin-top: 10px; }
    [class*="kopalisting"] .item-write-rv-overall-rating > .item-review .item-rating {
      font-size: 25px; }
  [class*="kopalisting"] .item-write-rv-overall-rating section {
    text-transform: capitalize;
    color: #333;
    margin-top: 25px; }
    [class*="kopalisting"] .item-write-rv-overall-rating section ul {
      position: relative;
      margin: 0;
      border-top: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5; }
      [class*="kopalisting"] .item-write-rv-overall-rating section ul li {
        margin: 0;
        padding: 10px 15px;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5; }
        @media screen and (max-width: 639px) {
          [class*="kopalisting"] .item-write-rv-overall-rating section ul li {
            width: 100%; } }
    [class*="kopalisting"] .item-write-rv-overall-rating section .item-review {
      float: right; }
  [class*="kopalisting"] .item-write-rv-form form label {
    text-transform: capitalize;
    color: #333;
    margin-bottom: 8px; }
  [class*="kopalisting"] .item-write-rv-form form .tab-block, [class*="kopalisting"] .item-write-rv-form form .btn-block {
    margin-top: 20px; }
  [class*="kopalisting"] .item-write-rv-form form .tab-block {
    margin-bottom: 10px; }
    [class*="kopalisting"] .item-write-rv-form form .tab-block label {
      margin-bottom: 10px; }
    [class*="kopalisting"] .item-write-rv-form form .tab-block a {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      text-transform: capitalize;
      color: #888; }
    [class*="kopalisting"] .item-write-rv-form form .tab-block i {
      display: inline-block;
      text-align: center;
      width: 60px;
      height: 60px;
      line-height: 58px;
      font-size: 20px;
      display: block;
      border: 1px solid #e5e5e5;
      border-radius: 50%;
      margin-bottom: 10px;
      color: #888; }
    [class*="kopalisting"] .item-write-rv-form form .tab-block .kopa-tab {
      text-align: center;
      margin: 10px 0 0; }
  @media screen and (max-width: 639px) {
    [class*="kopalisting"] .item-write-rv-form form > .row > * {
      width: 100%;
      margin-top: 10px; }
      [class*="kopalisting"] .item-write-rv-form form > .row > *:first-child {
        margin-top: 0; } }
  [class*="kopalisting"] .item-write-rv-form .tab-navigation {
    display: block !important; }

/**
 * 3. Widget
 * -------------------------------------------------------------------
 */
.widget.kopalisting {
  /*--- widget_search_broad ---*/
  /*--- widget_search_lite ---*/
  /*--- widget_categories_filter ---*/
  /*--- widget_rating_filter ---*/
  /*--- widget_tag_cloud ---*/
  /*--- widget_single_details ---*/
  /*--- widget_items_list ---*/ }
  .widget.kopalisting[class*='widget_search'] label {
    text-transform: capitalize; }
  .widget.kopalisting.widget_search_broad h6 {
    text-transform: capitalize;
    margin-bottom: 5px; }
  .widget.kopalisting .searchboard-form > .row {
    margin-top: -30px; }
    .widget.kopalisting .searchboard-form > .row > * {
      margin-top: 30px; }
      @media screen and (max-width: 639px) {
        .widget.kopalisting .searchboard-form > .row > * {
          width: 100%; } }
  .widget.kopalisting .searchboard-form button.search-submit, .widget.kopalisting .searchboard-form .search-submit.btn {
    width: 100%;
    display: block; }
  .widget.kopalisting.widget_search_lite button.search-submit, .widget.kopalisting.widget_search_lite .search-submit.btn {
    margin-top: 10px; }
  .widget.kopalisting.widget_categories_filter .menu {
    margin: 0; }
    .widget.kopalisting.widget_categories_filter .menu > li {
      text-transform: capitalize;
      margin-top: 5px;
      padding: 10px 20px;
      border: 1px solid #e5e5e5;
      position: relative; }
      .widget.kopalisting.widget_categories_filter .menu > li:first-child {
        margin-top: 0; }
      .widget.kopalisting.widget_categories_filter .menu > li.wu {
        padding: 10px 40px 10px 20px; }
        .widget.kopalisting.widget_categories_filter .menu > li.wu > i {
          display: inline-block;
          text-align: center;
          width: 30px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          position: absolute;
          top: 7px;
          right: 7px;
          cursor: pointer;
          z-index: 9; }
          .widget.kopalisting.widget_categories_filter .menu > li.wu > i:before {
            content: '\e901'; }
        .widget.kopalisting.widget_categories_filter .menu > li.wu.active > i:before {
          content: '\e904'; }
      .widget.kopalisting.widget_categories_filter .menu > li > ul {
        display: none; }
      .widget.kopalisting.widget_categories_filter .menu > li .sub-menu,
      .widget.kopalisting.widget_categories_filter .menu > li ul {
        margin: 0;
        margin-left: 10px; }
        .widget.kopalisting.widget_categories_filter .menu > li .sub-menu li,
        .widget.kopalisting.widget_categories_filter .menu > li ul li {
          margin-top: 10px; }
      .widget.kopalisting.widget_categories_filter .menu > li span {
        margin-left: 5px;
        color: #999; }
  .widget.kopalisting.widget_rating_filter .widget-content form > * {
    margin-top: 5px; }
    .widget.kopalisting.widget_rating_filter .widget-content form > *:first-child {
      margin-top: 0; }
  .widget.kopalisting .tagcloud {
    margin: -3px 0 0; }
    .widget.kopalisting .tagcloud a {
      font-size: 14px !important;
      text-transform: capitalize;
      padding: 5px 15px;
      margin: 3px 0 0;
      display: inline-block;
      border: 1px solid #e5e5e5;
      position: relative; }
  .widget.kopalisting.widget_single_details .widget-content {
    padding: 15px;
    border: 1px solid #e5e5e5; }
  .widget.kopalisting.widget_single_details .item .item-thumb {
    position: relative;
    margin-bottom: 15px; }
    @media screen and (max-width: 979px) {
      .widget.kopalisting.widget_single_details .item .item-thumb {
        display: none; } }
  .widget.kopalisting.widget_single_details .item .item-content > * {
    margin: 15px 0 0; }
    .widget.kopalisting.widget_single_details .item .item-content > *:first-child {
      margin: 0; }
  .widget.kopalisting.widget_single_details .item .item-content .item-title {
    margin-bottom: 0; }
  .widget.kopalisting.widget_single_details .item .item-content .item-price-avg {
    padding: 2px 0 10px;
    border-top: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5; }
  .widget.kopalisting.widget_items_list .widget-content > ul {
    margin: 0; }
    .widget.kopalisting.widget_items_list .widget-content > ul > li {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #e5e5e5; }
  .widget.kopalisting.widget_items_list .item .item-thumb {
    width: 65px;
    float: left;
    margin: 0 20px 0 0; }
  .widget.kopalisting.widget_items_list .item .item-content {
    overflow: hidden; }
    .widget.kopalisting.widget_items_list .item .item-content > * {
      margin: 2px 0 0; }
      .widget.kopalisting.widget_items_list .item .item-content > *.item-price-avg {
        margin: -6px 0 0; }
        .widget.kopalisting.widget_items_list .item .item-content > *.item-price-avg .price-wrap > span ins {
          font-weight: 400; }
      .widget.kopalisting.widget_items_list .item .item-content > *:first-child {
        margin: 0; }
        .widget.kopalisting.widget_items_list .item .item-content > *:first-child.item-title {
          margin: -4px 0 5px; }
  .widget.kopalisting.widget_items_list .item .item-title {
    margin: -4px 0 5px; }
    .widget.kopalisting.widget_items_list .item .item-title a {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      text-transform: capitalize; }
  .widget.kopalisting.widget_items_list .item .item-rating p {
    color: #333; }
