/**
 * Table of Contents:
 *

1. - Global Styles
2. - Header
    2.1 - Navigation 
    2.2 - Search 
3. - Content 
    3.1 - Widget
    3.2 - Home Page
    3.3 - Sub Page
    3.4 - Sidebar 
    3.5 - Bottom sidebar
4. - Footer 
5. - Color
6. - Responsive
 
 * -----------------------------------------------------------------------------
 */



/**
 * 1. Global Styles
 * -----------------------------------------------------------------------------
 */

@import "sass/globals";


/**
 * 2. Listing
 * -------------------------------------------------------------------
 */
[class*="kopalisting"]{

/*_____________ 2.1 Item List _____________*/

    /*--- HEADER ---*/
    .kopalisting-item-list-header{
        @extend .clearfix;
        border: 1px solid #e5e5e5;
        padding: 14px;
        margin-bottom: 30px;
        > *{
            @extend .clearfix;
            @media screen and (max-width: 767px){ 
                float: none;
                width: 100%;
                margin-top: 15px;
                &:first-child{
                    margin-top: 0;
                }
                > *{
                    &:last-child{
                        float: right;
                    }
                }
                @media screen and (max-width: 479px){ 
                    &:last-child{
                        >*{
                            width: 100%;
                            float: none;
                            margin: 10px 0 0;
                            &:first-child{
                                margin: 0;
                            }
                        }
                    }
                }
            }
            >*{
                float: left;
                margin-left: 20px;
                &:first-child{
                    margin-left: 0;
                }
            } 
        }
        .kopalisting-layout-options{
            margin-top: 4px;
        }
    }

    /* kopalisting-layout-options */
    .kopalisting-layout-options{
        @extend .list_reset;
        ul{
            @extend .clearfix;
            margin: -12px -6px 0;
            li {
                float: left;
                margin: 12px 6px 0;
                cursor: pointer;
                span{
                    @extend .transition;
                }
                &.active{
                    span{
                        @extend .main_color;
                    }
                }
            }
        }
    }

    /* kopalisting-pagination */
    .kopalisting-pagination {
        @extend .clearfix;
        @extend .list_reset;
        > span{
            float: left;
            margin: 3px 10px 0 0;
        }
        i{
            display: block;
            line-height: 20px;
        }
        ul{
            @extend .clearfix;
            float: left;
            margin: -8px -4px 0;
            li {
                float: left;
                margin: 8px 4px 0;
                cursor: pointer;
                @extend .transition;
                a, span {
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;
                    display: block;
                    min-width: 26px;
                    padding: 2px 4px;
                    border: 1px solid #e5e5e5;
                    @extend .transition;
                }
                &:hover, &.current {
                    a {
                        @extend .main_bd_color;
                        @extend .main_bg_color;
                        color: $cl-001;
                    }
                }
                &.current {
                    cursor: text;
                    span {
                        @extend .main_bd_color;
                        @extend .main_bg_color;
                        color: $cl-001;
                    }
                }
                span.current {
                    @extend .main_bd_color;
                    @extend .main_bg_color;
                    color: $cl-001;
                    cursor: text;
                }
                a {
                    &.prev, &.next{
                        @extend .main_color;
                        &:hover {
                            color: $cl-001;
                        }
                    }
                    &:hover {
                        color: $cl-001;
                        @extend .main_bg_color;
                        @extend .main_bd_color;
                    }
                }
            }
        }
    }

    /*--- ITEM LIST ---*/
    .items-list{
        @extend .list_reset;
        margin-top: -30px;
        > *{
            margin-top: 30px; 
            @media screen and (max-width: 767px){ 
                width: 50%;
            }
            @media screen and (max-width: 639px){ 
                width: 100%;
            }
        }
        .item{
            .item-thumb{
                margin-bottom: 20px;
            }
            .item-content{
                >*{
                    margin: 10px 0 0;
                    &.item-price-avg{
                        margin: 2px 0 0;
                    }
                    &:first-child{
                        margin: 0;
                    }
                }
                > footer{
                    margin: 15px -5px 0;
                    > *{
                        margin: 5px 5px 0;
                        padding: 0 20px;
                    }
                    .btn-light{
                        position: relative;
                        top: 1px;
                    }
                }
                .item-title{
                    margin-bottom: 10px;
                }
            }
            .item-amenities{
                color: #555;
                @include list_t(15px, 15px, 1px dashed #e5e5e5);
                &:first-child{
                    @include list_t(0, 0, none);
                }
                i{
                    @extend .transition;
                    &:hover{
                        @extend .main_color;
                    }
                }
            }
        }
    }
    .item{
        @extend .clearfix;
        position: relative;
        .item-thumb{
            position: relative;
        }
    }

    /*--- item-categories ---*/
    .item-categories{
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 0;
        a{
            color: $cl-003;
            &:hover{
                @extend .main_color;
            }
        }
    }

    /*--- title ---*/
    .item-title{
        text-transform: capitalize;
        > *{
            display: inline-block;
        }
        a{
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
        }
        .item-star{
            margin-left: 2px;
        }
    }

    /*--- star ---*/
    .item-star{
        position: relative;
        i{
            font-size: 12px;
            @extend .main_color;
        }
        .item-star-content{
            color: $cl-001 !important;
            white-space: nowrap;
            padding: 0 0 30px;
            position: absolute;
            top: -60px;
            left: 8px;
            z-index: 999;
            opacity: 0;
            visibility: hidden;
            @include translateX(-50%);
            @include transition(.2s ease-out);
            p{
                font-size: 14px;
                line-height: 22px;
                text-transform: none;
                padding: 3px 15px;
                background: $color-primary;
                border-radius: 4px;
                position: relative;
                &:before{
                    @include before-bottom(5px,5px,5px,$color-primary,-5px);
                }
            }
        }
        &:hover{
            .item-star-content {
                top: -40px;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    /*--- address ---*/
    .item-address{
        i{
            color: #bbb;
            margin-right: 5px;
        }
    }

    /*--- rating ---*/
    .item-rating{
        p{
            display: inline-block;
            position: relative;
            @extend .kopafont;
            @extend .main_color;
            &:before{
                content: "\e986\e986\e986\e986\e986";
            }
            &:after{
                content: "\e983\e983\e983\e983\e983";
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                width: 90%;
            }
            span{
                display: none;
            }
        }
    }

    /*--- review ---*/
    .item-review{
        > * {
            display: inline-block;
        }
    }

    /*--- price ---*/
    .price-wrap{
        color: #bbb;
        font-size: 12px;
        > span{
            display: inline-block;
            margin: -5px -3px 0;
            > *{
                display: inline-block;
                margin: 5px 3px 0;
            }
            ins{
                text-decoration: none;
                font-size: 18px;
                font-weight: 600;
                color: $color-primary;
            }
        }
    }
    .item-price-avg{
        text-transform: capitalize;
        margin: -8px 0 0;
        > *{
            display: inline-block;
            margin: 8px 0 0;
        }
    }

    /*--- amenities ---*/
    .item-amenities{
        > div{
            margin: -5px -3px 0;
            > *{
                display: inline-block;
                margin: 5px 3px 0;
            }
        }
    }

    /*--- onsale ---*/
    .item-on-sale{
        @include icon(40px, 40px, 40px, 12px);
        text-transform: capitalize;
        background: $color-001;
        border-radius: 50%;
        color: $cl-001;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    
    /*--- kopalisting-items-list ---*/
    .kopalisting-items-list{
        &.list-layout{
            .items-list{
                > li{
                    width: 100% !important;
                }
                .item{
                    .item-thumb{
                        width: 300px;
                        float: left;
                        margin: 0 30px 0 0;
                    }
                    .item-content{
                        overflow: hidden;
                        padding-bottom: 1px;
                        > *{
                            &:first-child{
                                margin-top: -4px;
                            }
                        }
                    }
                    @media screen and (max-width: 639px){ 
                        .item-thumb{
                            width: 100%;
                            float: none;
                            margin: 0 0 20px 0;
                        }
                        .item-content{
                            overflow: visible;
                        }
                    }
                }
            }
            .item-star{
                .item-star-content{
                    padding: 30px 0 0;
                    top: auto;
                    bottom: -60px;
                    p{
                        &:before{
                            bottom: auto;
                            border-top: none;
                            @include before-top(5px,5px,5px,$color-primary,-5px);
                        }
                    }
                }
                &:hover{
                    .item-star-content {
                        top: auto;
                        bottom: -40px;
                    }
                }
            }
        }
    }

    /*--- FOOTER ---*/
    .kopalisting-item-list-footer{
        @extend .clearfix;
        margin-top: 50px;
        text-align: center;
        .kopalisting-pagination{
            > *{
                display: inline-block;
                float: none;
            }
            > span{
                display: none;
            }
        }
        @media screen and (max-width: 639px){ 
            >*{
                width: 100%;
                float: none;
                margin-top: 10px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }


/*_____________ 2.2 ITEM SINGLE _____________*/

    /*--- ITEM ---*/

    .kopalisting-item{
        .item{
            >*{
                margin-top: 50px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }

    /*--- ITEM-INFO ---*/

    .item-info{
        .item-price-avg{
            font-size: 18px;
            line-height: 26px;
            margin-top: 5px;
        }
        .price-wrap {
            > span {
                ins {
                    font-size: 22px;
                    font-weight: 400;
                    @extend .main_color;
                }
            }
        }
    }

    /*--- TAB-ITEM-INTRO ---*/

    .tab-item-intro{
        .tab-navigation{
            border: 1px solid #e5e5e5;
            padding: 0px 20px 10px 5px;
            margin: 0;
            li{
                margin: 10px 15px 0;
            }
        }
        .tab-navigation-mobile{
            .sj-dropdown-btn{
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                @extend .main_color;
                text-transform: capitalize;
                border: 1px solid #e5e5e5;
                padding: 10px 40px 10px 20px;;
            }
        }
        @media screen and (max-width: 979px){ 
            .tab-navigation{
                display: none;
            }
            .tab-navigation-mobile{
                display: block;
            }
        }
    }

    /*--- item-tab-gallery ---*/
    .item-tab-gallery {
        overflow-x: hidden;
        img{
            width: 100%;
        }
        .thumb-slider{
            margin: 20px -10px 0;
            @media screen and (max-width: 479px){ 
                display: none;
            }
        }
        .sync1{
            .owl-controls {
                .owl-buttons div {
                    @include icon(40px, 40px, 40px, 26px);
                    @extend .main_bg_color;
                }
            }
        }
        .sync2{
            .owl-controls {
                .owl-buttons div {
                    @extend .main_bg_color;
                    &.owl-prev {
                        left: 10px;
                    }
                    &.owl-next {
                        right: 10px;
                    }
                }
            }
            .item{
                padding: 0 10px;
                &:before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: 10px;
                    bottom: 0;
                    left: 10px;
                    border-width: 3px;
                    border-style: solid;
                    @extend .main_bd_color;
                    opacity: 0;
                    @extend .transition;
                }
            }
            .owl-item{
                cursor: pointer;
                &:hover, &.synced{
                    .item{
                        &:before{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    /*--- item-tab-map ---*/    
    .item-tab-map{
        width: 100% !important;
        @media screen and (max-width: 979px){ 
            height: 400px !important;
        }
        @media screen and (max-width: 639px){ 
            height: 200px !important;
        }
    }

    /*--- item-tab-calendar ---*/
    .item-tab-calendar{
        background: $cl-001;
        border: 1px solid #e5e5e5;
        padding: 20px;
        position: relative;
        @media screen and (max-width: 767px){ 
            padding: 10px;
        }
        &:before{
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f1f1f1;
            opacity: .15;
        }
        > *{
            position: relative;
        }
        .calendar-filter-list{
            @extend .list_reset;
            text-transform: capitalize;
            .kopa-select{
                h6{
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    text-transform: uppercase;
                    @media screen and (max-width: 639px){ 
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }
            @media screen and (max-width: 639px){ 
                >*{
                    width: 100%;
                    margin-top: 15px;
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
        table {
            width: 100%;
            table-layout: fixed;
            margin: 20px -2.5px -2.5px; 
            td{
                padding: 2.5px;
            }
            @media screen and (max-width: 639px){ 
                margin: 10px 0 0;
                td{
                    width: 100%;
                    display: block;
                }
                thead{
                    display: none;
                }
            }
            thead{
                color: $color-primary;
                td {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 40px;
                }
            }
            tbody{
                td{
                    text-align: right;
                    position: relative; 
                    > *{
                        display: block;
                        padding: 5px;
                        background: $cl-001;
                        border: 1px solid #ddd;
                        color: $color-primary;
                        font-size: 1.1em;
                        line-height: 1.4em;
                        height: 60px;
                        position: relative; 
                        overflow: hidden;
                        p{
                            font-size: 10px;
                            line-height: 58px;
                            text-transform: uppercase;
                            text-align: center;
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            background: #f7f7f7;
                            cursor: default; 
                            z-index: 1;
                            width: 0;
                            overflow: hidden;
                            @extend .transition;
                            @media screen and (max-width: 767px){ 
                                font-size: 9px;
                            }
                        }
                        &:hover{
                            p{
                                width: 100%;
                                padding: 0 5px;
                                overflow: visible;
                            }
                        }
                    }
                    .price-text {
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        color: #fff;
                        font-size: 0.8571em; 
                    }
                    &.date-passed{
                        > *{
                            p{
                                width: 100%;
                                padding: 0 5px;
                                overflow: visible;
                                opacity: 0;
                            }
                            &:hover{
                                p{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &.available{
                        > *{
                            @extend .main_color;
                            background: #f7f7f7;
                            border: none;
                            border-left-width: 4px;
                            border-left-style: solid;
                            @extend .i_main_bd_color;
                            p{
                                color: $cl-001;
                                @extend .main_bg_color;
                                cursor: pointer; 
                            }
                        }
                    }
                    &.unavailable{
                        > *{
                            color: $color-002;
                            background: #f7f7f7;
                            border: none;
                            border-left: 4px solid $color-002;
                            p{
                                color: $cl-001;
                                background: $color-002; 
                            }
                        }
                    }
                }
            }
        }
        .calendar-legend{
            margin: 10px -5px; 
            > *{
                margin: 10px 5px 0;
            }
            label {
                font-size: 10px; 
                line-height: 15px;
                text-transform: uppercase;
                font-weight: normal;
                &:before{
                    content: "";
                    display: block;
                    float: left;
                    width: 15px;
                    height: 15px;
                    border: 1px solid #ddd;
                    margin-right: 8px; 
                }
                &.available{
                    &:before{
                        border: none;
                        @extend .main_bg_color;
                    }
                }
                &.unavailable{
                    &:before{
                        background: $color-002;
                        border: none;
                    }
                }
            }
        }
    }

    /*--- TAB-ITEM-DESCRIPTION ---*/

    .tab-item-description{
        h6{
            text-transform: capitalize;
        }
        > .tab-navigation {
            margin: -10px -5px 0;
            > li {
                margin: 10px 5px 0;
                > a {
                    font-size: 14px;
                    line-height: 22px;
                    text-align: center;
                    text-transform: capitalize;
                    margin: 0;
                    padding: 8px 20px;
                    background: #f7f7f7;
                    &:hover {
                        color: $cl-001;
                        @extend .main_bg_color;
                    }
                }
                &.active > a,
                &.active > a:hover,
                &.active > a:focus {
                    cursor: default;
                    color: $cl-001;
                    @extend .main_bg_color;
                }
            }
        }
        > .tab-content{
            padding: 30px 0 0;
        }
        > .tab-navigation-mobile{
            .sj-dropdown-btn{
                font-size: 14px;
                line-height: 22px;
                color: #fff;
                text-transform: capitalize;
                @extend .main_bg_color;
                padding: 10px 40px 10px 20px;;
            }
        }
        @media screen and (max-width: 979px){ 
            .tab-navigation{
                display: none;
            }
            .tab-navigation-mobile{
                display: block;
            }
        }
        [class*='item-tab-']{
            > div{
                margin-top: 30px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }

    /*--- item-tab-description ---*/
    .item-tab-description{
        .item-description-table{
            padding: 20px;
            border: 1px solid #e5e5e5;
            ul{
                @extend .list_reset;
                margin: -8px 0 0;
                li{
                    margin-top: 8px;
                    @media screen and (max-width: 479px){ 
                        > .row{
                            >*{
                                width: 100%;
                                margin-top: 0;
                            }
                        }
                    }   
                }
                p{
                    font-size: 12px;
                    text-transform: uppercase;
                    @extend .main_color;
                    &:after{
                        content: ':';
                    }
                }
                span{
                    text-transform: capitalize;
                    color: $color-primary;
                }
            }
        }
        .item-description-more-info{
            ul{
                @extend .list_reset;
                margin: 0;
                li{
                    @include list_t(10px,10px, 1px dashed #e5e5e5);
                    &:first-child{
                        border-top: none;
                    }
                    @media screen and (max-width: 479px){ 
                        > .row{
                            >*{
                                width: 100%;
                                margin-top: 0;
                                &:first-child{
                                    margin-top: 0;
                                }
                            }
                        }
                    }   
                }
                p{
                    font-size: 12px;
                    text-transform: uppercase;
                    &:after{
                        content: ':';
                    }
                }
                span{
                    color: $color-primary;
                }
            }
        }
    }

    /*--- item-tab-availability ---*/
    .search-availability-form{
        text-transform: capitalize;
        padding: 20px;
        border: 1px solid #e5e5e5;
        h6 {
            margin-bottom: 5px;
        }
        button.search-submit{
            width: 100%;
            display: block;
        }
        @media screen and (max-width: 767px){ 
            > .row{
                margin-top: -20px;
                > *{
                    width: 50%;
                    margin-top: 20px;
                    &:last-child{
                        width: 100%;
                        h6, label{
                            display: none;
                        }
                    }
                    @media screen and (max-width: 639px){ 
                        width: 100%;
                    }
                }
            }
        }
    }
    .item-availability-list{
        ul{
            @extend .list_reset;
            margin: 0;
        }
        > ul{
            > *{
                margin-top: 25px;
            }
        }
        .item-av{
            @extend .clearfix;
            position: relative;
            padding-right: 180px;
            min-height: 150px;
            .item-thumb{
                width: 220px;
                float: left;
                margin: 0 30px 0 0;
            }
            .item-content{
                overflow: hidden;
                position: relative;
                > *{
                    margin: 5px 0 0;
                    &.item-amenities{
                        margin-top: 15px;
                    }
                    &:first-child{
                        margin-top: -4px;
                    }
                }
            }
            .item-action{
                width: 150px;
                position: absolute;
                top: 0;
                right: 0;
                text-align: center;
                .item-action-content{
                    >*{
                        margin-top: 10px;
                        &:first-child{
                            margin-top: 0;
                        }
                    }
                    ul{
                        margin-top: -4px;
                        font-size: 10px;
                        line-height: 18px;
                        text-transform: uppercase;
                    }
                    .price-wrap {
                        > span {
                            ins {
                                font-size: 24px;
                                font-weight: 400;
                                @extend .main_color;
                            }
                        }
                    }
                    > span{
                        font-size: 18px;
                        line-height: 26px;
                        color: $color-002;
                        text-transform: capitalize;
                    }
                }
            }
            .item-title{
                a{
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
            .item-description{
                span{
                    text-transform: capitalize;
                    @extend .main_color;
                }
            }
            .item-amenities{
                @include list_t(15px,15px, 1px dashed #e5e5e5);
                i{
                    @include icon(32px,32px,30px,16px);
                    border: 1px solid #e5e5e5;
                    color: $color-secondary;
                    border-radius: 50%;
                }
            }
            @media screen and (max-width: 767px){ 
                .item-thumb{
                    float: none;
                    margin: 0 0 10px 0;
                }
                .item-content{
                    overflow: visible;
                }
            }
            @media screen and (max-width: 479px){ 
                padding: 0;
                .item-thumb{
                    width: 100%;
                }
                .item-action{
                    width: auto;
                    position: relative;
                    top: auto;
                    right: auto;
                    text-align: left;
                    margin-top: 20px;
                }
            }
        }
    }

    /*--- item-tab-amenities ---*/
    .item-tab-amenities{
        ul{
            @extend .list_reset;
            margin-top: -10px;
            li{
                margin-top: 30px;
                div{
                    position: relative;
                    min-height: 36px;
                    padding: 7px 0 0 46px;
                }
                @media screen and (max-width: 639px){ 
                    width: 100%;
                }
            }
            i{
                @include icon(36px,36px, 34px, 20px);
                border-width: 1px;
                border-style: solid;
                @extend .main_bd_color;
                @extend .main_color;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
            }
            p{
                text-transform: capitalize;
                color: $color-primary;
            }
        }
    }

    /*--- item-tab-review ---*/
    .item-review-tab{
        @extend .clearfix;
        @extend .list_reset;
        > *{
            float: left;
            &:last-child{
                margin-left: -1px;
            }
            @media screen and (max-width: 979px){ 
                float: none;
                &:last-child{
                    margin: 0;
                }
            }
        }
        > .tab-navigation{
            width: 25%;
            margin: 0;
            li{
                width: 100%;
                float: none;
                margin: 0;
                border: 1px solid #e5e5e5;
                border-top: 0;
                position: relative;
                &:before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #f1f1f1;
                    opacity: .2;
                }
                &:first-child{
                    border-top: 1px solid #e5e5e5;
                }
                a{
                    font-size: 14px;
                    line-height: 22px;
                    text-align: left;
                    padding: 8px 15px;
                    span{
                        float: right;
                        font-weight: 400;
                    }
                }
            }
        }
        > .tab-content{
            width: 75%;
            padding: 25px;
            border: 1px solid #e5e5e5;
            background: $cl-001;
            @media screen and (max-width: 979px){ 
                width: 100%;
                padding: 15px;
            }
        }
        .tab-navigation-mobile{
            .sj-dropdown-btn{
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
                text-transform: capitalize;
                @extend .main_color;
                border: 1px solid #e5e5e5;
                background: #f1f1f1;
                padding: 10px 40px 10px 15px;
                margin-bottom: 2px;
            }
        }
        @media screen and (max-width: 979px){ 
            .tab-navigation{
                display: none;
            }
            .tab-navigation-mobile{
                display: block;
            }
        } 
        .tab-panel{
            header{
                @extend .clearfix;
                span{
                    font-size: 26px;
                    line-height: 32px;
                    color: $cl-001;
                    padding: 2px 15px;
                    @extend .main_bg_color;
                }
                .item-review{
                    font-size: 25px;
                    margin-top: 10px;
                }
                .btn{
                    margin-top: 16px;
                }
                @media screen and (max-width: 479px){ 
                    >*{
                        float: none;
                        margin-top: 10px;
                        &:first-child{
                            margin-top: 0;
                        }
                    }
                    .btn{
                        margin-top: 0;
                    }
                }
            }
            section{
                text-transform: capitalize;
                color: $color-primary;
                ul{
                    position: relative;
                    li{
                        > div{
                            @include list_t(8px,8px,1px dashed #e5e5e5);
                        }
                        @media screen and (max-width: 639px){ 
                            width: 100%;
                        }
                    }
                }
                .item-review{
                    float: right;
                }
            }
        }
    }

    /*--- item-tab-write-review ---*/
    .item-write-rv-header{
        .kopa-pull-right{
            text-align: right;
        }
        h4{
            text-transform: capitalize;
            margin: 0 0 5px;
        }
        .item-review {
            margin-top: 5px;
            > * {
                display: block;
            }
        }
    }
    .item-write-rv-overall-rating{
        @extend .list_reset;
        > .item-review{
            margin-top: 10px;
            .item-rating{
                font-size: 25px;
            }
        }
        section{
            text-transform: capitalize;
            color: $color-primary;
            margin-top: 25px;
            ul{
                position: relative;
                margin: 0;
                border-top: 1px solid #e5e5e5;
                border-left: 1px solid #e5e5e5;
                li{
                    margin: 0;
                    padding: 10px 15px;
                    border-right: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;
                    @media screen and (max-width: 639px){ 
                        width: 100%;
                    }
                }
            }
            .item-review{
                float: right;
            }
        }
    }
    .item-write-rv-form{
        form{
            label{
                text-transform: capitalize;
                color: $color-primary;
                margin-bottom: 8px;
            }
            .tab-block, .btn-block{
                margin-top: 20px;
            }
            .tab-block{
                margin-bottom: 10px;
                label{
                    margin-bottom: 10px;
                }
                a{
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: $color-secondary;
                }
                i{
                    @include icon(60px,60px,58px,20px);
                    display: block;
                    border: 1px solid #e5e5e5;
                    border-radius: 50%;
                    margin-bottom: 10px;
                    color: $color-secondary;
                    @extend .transition;
                }
                .kopa-tab{
                    text-align: center;
                    margin: 10px 0 0;
                    .tab-navigation {
                    > li {
                        a{
                            &:hover {
                                @extend .main_color;
                                i{
                                    @extend .main_color;
                                    @extend .main_bd_color;
                                }
                            }
                        }
                        &.active > a,
                        &.active > a:hover,
                        &.active > a:focus {
                            @extend .main_color;
                            i{
                                @extend .main_color;
                                @extend .main_bd_color;
                            }
                        }
                    }
                }
                }
            }
            @media screen and (max-width: 639px){ 
                > .row{
                    >*{
                        width: 100%;
                        margin-top: 10px;
                        &:first-child{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
        .tab-navigation{
            display: block !important;
        }
    }
}





/**
 * 3. Widget
 * -------------------------------------------------------------------
 */

.widget.kopalisting {
    @extend .list_reset;
    /*--- widget_search_broad ---*/
    &[class*='widget_search']{
        label{
            text-transform: capitalize;
        }
    }
    &.widget_search_broad{
        h6{
            text-transform: capitalize;
            margin-bottom: 5px;
        }
    }
    .searchboard-form{
        > .row{
            margin-top: -30px;
            >*{
                margin-top: 30px;
                @media screen and (max-width: 639px){ 
                    width: 100%;
                }
            }
        }
        button.search-submit{
            width: 100%;
            display: block;
        }
    }

    /*--- widget_search_lite ---*/
    &.widget_search_lite{
        button.search-submit{
            margin-top: 10px;
        }
    }

    /*--- widget_categories_filter ---*/
    &.widget_categories_filter {
        .menu {
            margin: 0;
            > li {
                text-transform: capitalize;
                margin-top: 5px;
                padding: 10px 20px;
                border: 1px solid #e5e5e5;
                position: relative;
                @extend .clearfix;
                @extend .transition;
                &:first-child {
                    margin-top: 0;
                }
                &.wu{
                    padding: 10px 40px 10px 20px;
                    > i{
                        @extend .kopafont;
                        @include icon(30px,30px,30px,14px);
                        position: absolute;
                        top: 7px;
                        right: 7px;
                        cursor: pointer;
                        z-index: 9;
                        @extend .transition;
                        &:before{
                            content: '\e901';
                        }
                        &:hover{
                            @extend .main_color;
                        }
                    }
                    &.active{
                        > i{
                            &:before{
                                content: '\e904';
                            }
                        }
                    }
                }
                > ul{
                    display: none;
                }
                .sub-menu,
                ul {
                    margin: 0;
                    margin-left: 10px;
                    li {
                        margin-top: 10px;
                    }
                }
                span {
                    margin-left: 5px;
                    color: #999;
                }
            }
        }
    }

    /*--- widget_rating_filter ---*/
    &.widget_rating_filter {
        .widget-content{
            form{
                > *{
                    margin-top: 5px;
                    &:first-child{
                        margin-top: 0;
                    }
                }
            }
        }
    }

    /*--- widget_tag_cloud ---*/
    .tagcloud {
        margin: -3px 0 0;
        a {
            font-size: 14px !important;
            text-transform: capitalize;
            padding: 5px 15px;
            margin: 3px 0 0;
            display: inline-block;
            border: 1px solid #e5e5e5;
            position: relative;
            &:hover {
                @extend .main_bd_color;
            }
        }
    }

    /*--- widget_single_details ---*/
    &.widget_single_details{
        .widget-content{
            padding: 15px;
            border: 1px solid #e5e5e5;
        }
        .item{
            .item-thumb{
                position: relative;
                margin-bottom: 15px;
                @media screen and (max-width: 979px){ 
                    display: none;
                }
            }
            .item-content{
                >*{
                    margin: 15px 0 0;
                    &:first-child{
                        margin: 0;
                    }
                }
                .item-title{
                    margin-bottom: 0;
                }
                .item-price-avg{
                    padding: 2px 0 10px;
                    border-top: 1px dashed #e5e5e5;
                    border-bottom: 1px dashed #e5e5e5;
                }
            }
        }
    }

    /*--- widget_items_list ---*/
    &.widget_items_list{
        .widget-content{
            > ul{
                @extend .list_format;
                margin: 0;
                > li{
                    @include list_t(15px,15px,1px solid #e5e5e5);
                }
            }
        }
        .item{
            .item-thumb{
                width: 65px;
                float: left;
                margin: 0 20px 0 0;
            }
            .item-content{
                overflow: hidden;
                >*{
                    margin: 2px 0 0;
                    &.item-price-avg{
                        margin: -6px 0 0;
                        .price-wrap {
                            > span {
                                ins{
                                    font-weight: 400;
                                    @extend .main_color;
                                }
                            }
                        }
                    }
                    &:first-child{
                        margin: 0;
                        &.item-title{
                            margin: -4px 0 5px;
                        }
                    }
                }
            }
            .item-title{
                margin: -4px 0 5px;
                a{
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
            .item-rating{
                p{
                    color: $color-primary;
                }
            }
        }
    }


}