<div class="nav-md">
    <div class="container body" style="width: 100%">
        <div class="main_container" style="min-height:100vh">

            <div class="" role="main">
                <div class="">
                    <div class="clearfix"></div>

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Mis Productos<small>Listado</small></h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table *ngIf="_listaProductos" id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Titulo</th>
                                                <th>Categoría</th>
                                                <th>Zona</th>
                                                <th>Precio</th>
                                                <th>Alquileres</th>
                                                <th>Estado Actual</th>
                                                <th>Contacto</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <!-- categoria:{id: 25, nombre: "Playa"}
                                        descripcion:"asdfafdsfdasasdffadfas"
                                        emailContacto:"email del usuario que esta creando el producto. Sacarlo de auth0"
                                        id:18
                                        idCategoria:25
                                        idUsuario:"buscar access token. Sacarlo de auth0"
                                        imagenes:(2) [{…}, {…}]
                                        pausado:false
                                        precio:10
                                        titulo:"asdfafdsfdasasdffadfas"
                                        ubicacion:{id: 13, ciudad: null, idCiudad: 1, latitud: 0, longitud: 0} -->
                                            <tr *ngFor="let p of _listaProductos">
                                                <td>{{p.titulo}}</td>
                                                <td></td>
                                                <td>Buenos Aires, CABA.</td>
                                                <td></td>
                                                <td>4</td>
                                                <td>Alquilado</td>
                                                <td>{{p.emailContacto}}</td>
                                                <td><a href="#" class="btn btn-primary btn-xs">Ver </a>
                                                    <a [routerLink]="['/admin-producto', p.id]" class="btn btn-info btn-xs"> Editar </a>
                                                    <button (click)='remove(p.id)' class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Eliminar</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>

</div>