<div id="main-content" *ngIf="_producto">
  <section class="kopa-area kopa-area-5 kopa-area-parallax white-text-style" [ngStyle]="getMyStyles()">
    <div class="container">
      <div class="kopa-breadcrumb text-center">
        <h2>{{_producto.titulo}} </h2>
      </div>
    </div>
  </section>


  <!-- kopa-area-5 -->
  <section class="kopa-area kopa-area-4">
    <div class="container">
      <div class="row">
        <div class="col-12 main-col">
          <div class="kopalisting-main-content">
            <div class="kopalisting-item">
              <div class="item">
                <div class="item-info">
                  <div class="item-content">
                    <header>
                      <div class="item-title">
                        <h1>{{_producto.titulo}}</h1>
                        <div class="item-star">
                          <i class="kopa kopa-star-in-0"></i>
                          <div class="item-star-content">
                            <p>Puntuación</p>
                          </div>
                        </div>
                      </div>
                      <p class="item-address">
                        <i class="kopa kopa-map-1"></i>{{_producto.ubicacion.ciudad}}
                      </p>
                    </header>
                    <div class="item-price-avg">
                      <div class="price-wrap">
                        <span>
                          <ins>
                            <span>$</span>{{_producto.precio}}
                          </ins>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="kopa-tab tab-item-intro">
                  <ul class="tab-navigation">
                    <li class="active">
                      <a>
                        <i class="fa fa-camera"></i>
                        Fotos
                      </a>
                    </li>
                  </ul>
                  <!-- tab-navigation -->

                  <div class="tab-navigation-mobile sj-dropdown">
                    <span class="sj-dropdown-btn">Fotos</span>
                    <ul class="sj-dropdown-content">
                      <li>
                        <a>
                          Fotos
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- tab-navigation-mobile -->
                </div>



                <div class="tab-content">

                  <div class="tab-panel active">

                    <div class="item-tab-gallery">
                      <owl-carousel [options]="options" [carouselClasses]="['owl-theme', 'sliding']" #owlMain>
                        <div class="item" *ngFor="let image of images;let i = index">
                          <img class="" [src]="image.url" />

                        </div>
                      </owl-carousel>
                      <owl-carousel [options]="options2" [carouselClasses]="['owl-theme', 'sliding', 'slider-producto']" #owlThumb>
                        <div class="item item-thumbnail" *ngFor="let image of images;let i = index" [ngClass]="{'item-thumbnail-selected':selected == i}"
                          (click)="selectThumb(i)">
                          <img class="thumbnail-image" [src]="image.url" />
                        </div>
                      </owl-carousel>
                    </div>
                  </div>
                </div>



                <div class="kopa-tab tab-item-description">

                  <ul class="tab-navigation">
                    <li class="active">
                      <a>description</a>
                    </li>
                    <!-- <li><a href="#">availability</a></li>
                    <li><a href="#">amenities</a></li>
                    <li><a href="#">reviews</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">write a review</a></li> -->
                  </ul>
                  <!-- tab-navigation -->

                  <div class="tab-navigation-mobile sj-dropdown">
                    <span class="sj-dropdown-btn">description</span>
                    <!-- <ul class="sj-dropdown-content">
                      <li><a href="#">description</a></li>
                      <li><a href="#">availability</a></li>
                      <li><a href="#">amenities</a></li>
                      <li><a href="#">reviews</a></li>
                      <li><a href="#">FAQs</a></li>
                      <li><a href="#">write a review</a></li>
                    </ul> -->
                  </div>
                  <!-- tab-navigation-mobile -->

                  <div class="tab-content">

                    <div class="tab-panel active">

                      <div class="item-tab-description">



                        <div class="item-description-text">

                          <h6>About {{_producto.titulo}}</h6>
                          {{_producto.descripcion}}

                        </div>
                        <!-- item-description-text -->



                        <div>
                          <a (click)="showPopup = true;" class="btn btn-big btn_add_to_wishlist">contactar</a>
                        </div>

                      </div>
                      <!-- item-tab-description -->

                    </div>
                    <!-- tab-panel -->



                  </div>
                  <!-- tab-content -->

                </div>
                <!-- tab-item-description -->

              </div>

            </div>
            <!-- kopalisting-item -->

          </div>
          <!-- kopalisting-main-content -->

        </div>
        <!-- col-9 -->


        <!-- col-3 -->

      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </section>
  <!-- kopa-area-4 -->

</div>


<div class="popup" [ngClass]="{'showPopup': showPopup}" *ngIf="_producto">

  <div class="popup-main" [ngClass]="{'showPopupMain': showPopup}">

    <span class="popup-mail">{{_producto.emailContacto}}</span>
    <div>
      <a (click)="showPopup = false;" class="btn">Cerrar</a>
    </div>

  </div>

</div>