

<div class="main-container">
    <div id="main-content">
        <section class="kopa-area kopa-area-1 kopa-area-no-space">
            <div class="widget kopa-widget-slider">
                <div class="widget-content module-slider-1">

                    <div class="slider-pro slider-pro-1 sp-btn-1">
                        <div class="sp-slides">

                            <div class="sp-slide">
                                <img class="sp-image sp-image-bg" src="assets/images/slide_1.jpg" data-src="assets/images/slide_1.jpg" data-retina="assets/images/slide_1.jpg"
                                    alt="">
                                <!--p class="sp-layer sp-txt-1" data-horizontal="0" data-vertical="310" data-show-transition="down" data-hide-transition="up" data-show-delay="400" data-hide-delay="200" data-show-duration="1000" data-hide-duration="1000">A donde vayas</p-->
                                <p class="sp-layer sp-txt-2" data-horizontal="0" data-vertical="345" data-show-transition="left" data-hide-transition="up"
                                    data-show-delay="800" data-hide-delay="200" data-show-duration="1000" data-hide-duration="1000">Viajá Ligero
                                </p>
                                <p class="sp-layer sp-link-1" data-horizontal="0" data-vertical="450" data-show-transition="up" data-hide-transition="up"
                                    data-show-delay="1200" data-hide-delay="200" data-show-duration="1000" data-hide-duration="1000">
                                    <a>You need, they rent, wippin</a>
                                </p>
                            </div>
                            <!-- sp-slide -->

                            <div class="sp-slide">
                                <img class="sp-image sp-image-bg" src="assets/images/slide_2.jpg" data-src="assets/images/slide_2.jpg" data-retina="assets/images/slide_2.jpg"
                                    alt="">
                                <!--p class="sp-layer sp-txt-1" data-horizontal="0" data-vertical="310" data-show-transition="up" data-hide-transition="up" data-show-delay="400" data-hide-delay="200" data-show-duration="1000" data-hide-duration="1000">Your one Stop Destination</p-->
                                <p class="sp-layer sp-txt-2" data-horizontal="0" data-vertical="345" data-show-transition="right" data-hide-transition="up"
                                    data-show-delay="800" data-hide-delay="200" data-show-duration="1000" data-hide-duration="1000">Viví experiencias únicas</p>
                                <p class="sp-layer sp-link-1" data-horizontal="0" data-vertical="450" data-show-transition="down" data-hide-transition="up"
                                    data-show-delay="1200" data-hide-delay="200" data-show-duration="1000" data-hide-duration="1000">
                                    <a href="#">Nosotros nos encargamos que todo sea más fácil y liviano.</a>
                                </p>
                            </div>
                            <!-- sp-slide -->

                        </div>
                        <!-- sp-slides -->

                    </div>
                    <!-- slider-pro -->

                    <div class="loading">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>

                </div>
            </div>
            <!-- widget -->


            <div class="kopa-area-ab">
                   
                <div class="container">
                    <div class="widget kopalisting widget_search_broad" [class.scale-custom]="_scale">

                        <h3 class="widget-title style-01" (click)="onScale()">
                            <i class="fa fa-home"></i> Busqueda
                        </h3>

                        <div class="widget-content">

                            <form action="processForm.php" method="get" class="searchboard-form">

                                <div class="row kopa-row-2 kopa-mh">

                                    <div class="col-4">
                                        <label>Que Buscas?</label>
                                        <input type="text" class="input-text" #search name="search" [(ngModel)]="_searchText" placeholder="¿Que estás buscando?">
                                    </div>
                                    <!-- col-3 -->

                                    <div class="col-3">
                                        <label>Ubicación</label>
                                        <select class="form-control" [ngModel]="_selectedCiudad" (ngModelChange)="onChangeCiudad($event)" name="sel4">
                                            <option [ngValue]="i" *ngFor="let i of _listaCiudades | async">{{i.nombre}}</option>
                                        </select>
                                    </div>
                                    <!-- col-3 -->

                                    <div class="col-3">
                                        <label>Categoria</label>
                                        <select class="form-control" [ngModel]="_selectedCategoria" (ngModelChange)="onChangeCategoria($event)" name="sel5">
                                            <option [ngValue]="i" *ngFor="let i of _listaCategoriasSub | async">{{i.nombre}}</option>
                                        </select>

                                    </div>

                                    <!-- col-4 -->

                                    <!-- col-3 -->

                                    <div class="col-2">
                                        <label class="kopa-mobile-hide">&nbsp;</label>
                                        <button type="button" (click)="onSearchButtonClick()" class="search-submit btn btn-light-color">
                                            Buscar
                                        </button>
                                    </div>
                                    <!-- col-2 -->

                                </div>
                                <!-- row -->

                            </form>

                        </div>

                    </div>
                    <!-- widget -->

                </div>
                <!-- container -->

            </div>

        </section>
        <!-- kopa-area -->



        <section class="kopa-area kopa-area-4">

            <div class="container">

                <div class="widget kopa-widget-item-list">
                    <header class="widget-header text-center">
                        <h4 class="widget-sub-title">Mas vistos</h4>
                        <h3 class="widget-title">Populares</h3>
                    </header>
                    <div class="widget-content module-item-list-2">

                        <ul class="row kopa-mh sj-popup">

                            <li class="col-md-6 col-sm-6 col-xs-6" *ngFor="let m of _masVistosSub | async">
                                <div class="listing-item style-01 kopa-mh">
                                    <div class="item-thumb">
                                        <a [routerLink]="['producto', m.id]">
                                            <img [src]="m.imagenes.length>0?m.imagenes[0].url:''" alt="">
                                        </a>
                                        <a [routerLink]="['producto', m.id]" class="popup-img-link kopa-btn-4">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                        <!--<a href="#" class="btn kopa-btn-2">Contactar</a>
                                        <a href="#" class="btn kopa-btn-3">paris</a>-->
                                    </div>
                                    <div class="item-content">
                                        <h4 class="item-title">
                                            <a [routerLink]="['producto', m.id]">{{m.titulo}}</a>
                                        </h4>
                                        <div class="item-rating">
                                            <span>Ranking:</span>
                                            <p>
                                                <span>
                                                    <strong class="rating">5</strong> out of 5</span>
                                            </p>
                                        </div>
                                        <div class="item-price-avg">
                                            <div class="price-wrap">
                                                <span>
                                                    <ins>
                                                        <span>$ </span>{{m.precio}}
                                                    </ins>
                                                </span>
                                            </div>
                                        </div>
                                        <!-- <p>{{m.descripcion}}</p> -->
                                        <a [routerLink]="['producto', m.id]" class="more-link">Ver</a>
                                    </div>
                                </div>
                                <!-- listing-item -->
                            </li>

                        </ul>

                    </div>
                </div>

                <!-- widget -->

            </div>
            <!-- container -->

        </section>
        <!-- kopa-area-4 -->

        <section class="kopa-area kopa-area-no-space">

            <div class="row kopa-row-4 kopa-mh">

                <div class="col-md-6 col-sm-6 col-xs-6 style-01 sj-plw">

                    <div class="widget kopa-widget-tab">
                        <header class="widget-header">
                            <h4 class="widget-sub-title style-01">Testimonios</h4>
                            <h3 class="widget-title">Nuestros Viajeros</h3>
                        </header>
                        <div class="widget-content module-tab-2">

                            <div class="kopa-tab style-02">
                                <!-- tab-navigation -->

                                <div class="tab-content">

                                    <div class="tab-panel active">

                                        <ul class="kopa-review-list">
                                            <li>
                                                <div class="item">
                                                    <div class="item-thumb">
                                                        <a>
                                                            <img src="assets/images/comments/user-2.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="item-content">
                                                        <h4 class="item-title">
                                                            <a>Mateo J</a>
                                                            <a>Usuario</a>
                                                        </h4>
                                                        <div class="item-rating">
                                                            <p>
                                                                <span>
                                                                    <strong class="rating">5</strong> de 5</span>
                                                            </p>
                                                        </div>
                                                        <p>“Este invierno decidí viajar solo a Las Leñas y necesitaba todo el
                                                            equipo para esquiar ya que soy principiante, pero no quería comprarlo
                                                            porque no sabía si lo utilizaría otra vez. Alquilé el equipo
                                                            completo a través de Wippin y encima la persona que me lo alquiló,
                                                            con muchísima buena onda, también me enseñó a esquiar. La experiencia
                                                            fue increíble! Gracias Wippin!” </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item">
                                                    <div class="item-thumb">
                                                        <a>
                                                            <img src="assets/images/comments/user-1.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="item-content">
                                                        <h4 class="item-title">
                                                            <a>Gastón C</a>
                                                            <a>Usuario</a>
                                                        </h4>
                                                        <div class="item-rating">
                                                            <p>
                                                                <span>
                                                                    <strong class="rating">4</strong> de 5</span>
                                                            </p>
                                                        </div>
                                                        <p>“Hace dos años me compré una bici, pero por distintas razones casi
                                                            nunca la uso. No la quise poner en venta, así que decidí alquilarla
                                                            a través de Wippin. Ahora mi bici es utilizada, y además me genera
                                                            un ingreso extra. Está buenísimo!”</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="item">
                                                    <div class="item-thumb">
                                                        <a>
                                                            <img src="assets/images/comments/user-3.png" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="item-content">
                                                        <h4 class="item-title">
                                                            <a>Laura S</a>
                                                            <a>Rentals</a>
                                                        </h4>
                                                        <div class="item-rating">
                                                            <p>
                                                                <span>
                                                                    <strong class="rating">5</strong> de 5</span>
                                                            </p>
                                                        </div>
                                                        <p>“Alquilo equipos de kitesurf en tigre, Provincia de Buenos Aires.
                                                            Wippin me brinda un canal alternativo para conectarme con posibles
                                                            clientes, pudiendo ser parte de una comunidad y dando a conocer
                                                            más mi local.” </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                    <!-- tab-panel -->
                                </div>
                                <!-- tab-content -->

                            </div>
                            <!-- kopa-tab -->

                        </div>
                    </div>
                    <!-- widget -->

                </div>
                <!-- col-md-6 -->

                <div class="col-md-6 col-sm-6 col-xs-6 sj-prw">

                    <div class="widget">
                        <header class="widget-header">
                            <h4 class="widget-sub-title style-01">Beneficios</h4>
                            <h3 class="widget-title">¿Por qué Wippin?</h3>
                        </header>
                        <div class="widget-content">

                            <div class="kopa-collapse style-01 kopa-accordion kopa-order-list">

                                <div class="collapse-panel" *ngFor="let item of _listCollapsable;let i =index" [class.active]="item.active" (click)="onCollapsableItemClick(item);">

                                    <div class="panel-heading">
                                        <span class="kopa-order-num">{{'0'+ (i+1)}}</span>
                                        <p>{{item.title}}</p>
                                    </div>

                                    <div class="panel-content">
                                        <h6>{{item.subtitle}}</h6>
                                        <p>{{item.content}}
                                        </p>
                                    </div>

                                </div>

                            </div>
                            <!-- kopa-collapse -->

                        </div>
                    </div>
                    <!-- widget -->

                </div>
                <!-- col-md-6 -->
                <!-- col-md-6 -->

            </div>
            <!-- row -->

        </section>
        <!-- kopa-area -->

    </div>
    <!-- main-content -->

    <!-- BOTTOM -->

    <div class="bottom-sidebar">

        <img src="assets/images/one/2.png" alt="">

        <div class="container">

            <section class="bottom-area-1">

                <div class="row kopa-mh">

                    <div class="col-md-4 col-sm-4 col-xs-4 kopa-pull-left">

                        <div class="widget kopa-widget-contact">
                            <h3 class="widget-title style-03">Wippin</h3>
                            <div class="widget-content module-contact-1">

                                <p>Una comunidad de alquileres que quiere que las personas viajen de forma más liviana a destino,
                                    ahorren dinero y tiempo en la ciudad a visitar.
                                    <br>
                                </p>
                                <ul>
                                    <li>
                                        <p>Thames 1876, Buenos Aires, Argentina.</p>
                                    </li>
                                    <li>
                                        <a href="mailto:info@wippin.net">info@wippin.net</a>
                                    </li>
                                </ul>
                                <a href="mailto:info@wippin.net" class="kopa-btn-5">Ponete en contacto!</a>

                            </div>
                        </div>
                        <!-- widget -->

                    </div>
                    <!-- col-md-4 -->



                    <div class="col-md-4 col-sm-4 col-xs-4 kopa-pull-right">

                        <div class="widget kopa-widget-newsletter">
                            <h3 class="widget-title style-03">Contacto</h3>
                            <div class="widget-content module-newsletter-1">

                                <p>Quedáte al tanto de nuestras novedades</p>

                                <form class="newsletter-form" method="post" action="processForm.php">
                                    <p>
                                        <input type="text" class="email" name="email" placeholder="Tu Mail">
                                    </p>
                                    <button type="submit" class="submit">
                                        Subscribir
                                    </button>
                                </form>

                            </div>
                        </div>
                        <!-- widget -->

                    </div>
                    <!-- col-md-4 -->

                </div>
                <!-- row -->

            </section>
            <!-- bottom-area-1 -->

            <section class="bottom-area-2">

                <div class="alignleft">
                    <p class="kopa-text-1">© 2017
                        <a href="http://wippin.net/" target="blank">Wippin</a>. Todos los Derechos Reservados</p>
                </div>

                <div class="alignright">
                    <div class="kopa-social-links style-02">
                        <ul class="clearfix">
                            <li>
                                <a href="https://www.facebook.com/Wippin-1704211809900132/" class="fa fa-facebook"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/wippin.ok/" class="fa fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>
            <!-- bottom-area-2 -->

        </div>
        <!-- container -->

    </div>
    <!-- bottom-sidebar -->

  
    <div class="kopa-select-list"></div>

</div>
<!-- main-container -->

<div class="body-background"></div>