
.collapse-panel.active .panel-content{
    display: block;
}

.widget_search_broad {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .widget_search_broad::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .scale-custom {
    -webkit-transform: scale(1.10, 1.10);
    transform: scale(1.10, 1.10);
  }
  
  /* .widget_search_broad:hover::after {
      opacity: 1;
  } */